<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @participation.person_id %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @participation.meeting_id %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
