

<div class="panel panel-default">

    <div class="panel-heading">
        <%if params[:action] == "edit" %><h3><strong><%= @mediation.mediationcode %></strong></h3><% end %>
    </div>

    <div class="panel-body">
          <%= form_for @mediation do |f| %>


            <% if params[:issue_id] %>
                <%= hidden_field(:mediation, :issue_id, :value => params[:issue_id]) %>
            <% else %>
                <%= hidden_field(:mediation, :issue_id, :value => @mediation.issue_id) %>

            <% end %>

            <% if @mediation.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@mediation.errors.count, "error") %> prohibited this mediation from being saved:</h2>

                    <ul>
                    <% @mediation.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>


            <div class="field">
                <%= f.label :mediate_start %><br>
              <%= f.text_field :mediate_start, :id => "datepicker-example1" %>


            </div>
          <div class="field">
            <%= f.label :mediate_end %><br>
            <%= f.text_field :mediate_end, :id => "datepicker-example2" %>


          </div>



            <div class="field">
                <%= f.label :mediation_notes %><br>

                <%= f.text_area :mediation_notes, cols: "120", rows: "12" %>
             </div>
            <div class="actions">
                <%= f.submit :class => 'btn btn-primary' %>
            </div>
        <% end %>
    </div>

</div>

<script type="text/javascript">
    $('#datepicker-example1').Zebra_DatePicker();
</script>

  <script type="text/javascript">
      $('#datepicker-example2').Zebra_DatePicker();
  </script>