<div class="container">

  <div class="panel panel-default">

    <div class="panel-heading">
      <%if params[:action] == "edit" %><h3><strong><%= @mediation.mediationcode %></strong></h3><% end %></div>

    <div class="panel-body">



      <%= simple_form_for @mediation do |f| %>


          <% if params[:issue_id] %>
               <%= hidden_field(:mediation, :issue_id, :value => params[:issue_id]) %>
            <% end %>
          <div class="form-horizontal">
            <% if @mediation.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@mediation.errors.count, "error") %> prohibited this mediation from being saved:</h2>

                  <ul>
                    <% @mediation.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>



            <div class="form-group">
              <%= f.label 'Mediation Start', :class => "col-sm-3 control-label" %>
              <div class="col-sm-3" id="sandbox-container">
                <div class="input-group date">
                  <input type="text" class="form-control" width="80">
                </div>

              </div>

            </div>
            <div class="form-group">
              <%= f.label 'Mediation End', :class => "col-sm-3 control-label" %>
              <div class="col-sm-3" id="sandbox2-container">
                <div class="input-group date">
                  <input type="text" class="form-control" width="80">
                </div>

              </div>

            </div>



            <div class="field">
    <%= f.label :mediation_notes %><br>

    <%= f.text_area :mediation_notes, cols: "120", rows: "12" %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>

        </div>
      </div>

  <script>
    $('#sandbox-container input').datepicker({
    });
    $('#sandbox2-container input').datepicker({
    });

  </script>