<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@issueaction, multipart: true, remote: false, html: {role: :form, 'data-model' => 'issueaction', id: 'mediateresult_form'}) do |f| %>

    <%= hidden_field(:issueaction, :issue_id, :value => @mediation.issue_id) %>
    <%= hidden_field_tag(:frommediation, true) %>
    <%= hidden_field(:issueaction, :mediation_id, :value => @mediation.id) %>

<%# Added Bootstrap classes, and help-block container for error messages %>
    <div class="field">
      <%= f.label 'Note:' %><br>
      This Note will be saved in the Issue history table.
      <%= f.text_area :actionbody,  cols: "120", rows: "12" %>
    </div>


    <div class="field">
      <div style="font-size: 16px">

        <h3>Mediation Result</h3>




        <%= radio_button(:issueaction, :actiontype, Actiontype::MEDIATION_RESULT_RESOLVED) %> Resolved<br>
        <%= radio_button(:issueaction, :actiontype, Actiontype::MEDIATION_RESULT_ONGOING) %> Ongoing<br>
        <%= radio_button(:issueaction, :actiontype, Actiontype::MEDIATION_RESULT_ESCALATED) %> Escalate Issue<br>
        <%= radio_button(:issueaction, :actiontype, Actiontype::MEDIATION_RESULT_CANCELLED) %> Cancel Issue<br>




      </div>
    </div>






    <div class="actions">
      <%= f.submit 'Submit', :class => "btn-small btn-primary" %>
    </div>
<% end %>
