
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @tabhead %></h3>
  </div>
  <div class="panel-body">




    <table id="mediationstable" class="table table-striped table-hover">


  <thead>
  <tr>
    <th>Issue</th>
    <th>View</th>
    <th>Mediation start</th>
    <th>Mediation end</th>
    <th>Mediators</th>

    <th>Result</th>
    <th>Issue Resolution</th>
    <th>Mediation notes</th>

  </tr>
  </thead>

  <tbody>
  <% @mediations.each do |mediation| %>
      <% mymediators = Mediator.where(:mediation_id => mediation.id) %>
      <tr>
        <td><%= link_to mediation.issue.issuecode, mediation.issue %></td>
        <td><%= link_to 'View', mediation %></td>
        <td><%= mediation.mediate_start.strftime("%m/  %d/%Y") if mediation.mediate_start %></td>
        <td><%= mediation.mediate_end.strftime("%m/  %d/%Y") if mediation.mediate_end %></td>
        <td>

        <% mymediators.each do |med| %>
            <%= med.person.fullname %><br>
        <% end %>
        </td>

        <td><%= mediation.result_humanize %></td>
        <td><%= mediation.issue.resolution_date if mediation.issue.resolution_date %></td>
        <td><%= mediation.mediation_notes %></td>

      </tr>
  <% end %>
  </tbody>
</table>


  </div>
</div>





<script>
    $('#mediationstable').dataTable({
        'paging':   true,  // Table pagination
        'ordering': true,  // Column ordering
        'info':     true,  // Bottom left status text
// Text translation options
// Note the required keywords between underscores (e.g _MENU_)
        oLanguage: {
            sSearch:      'Search all columns:',
            sLengthMenu:  '_MENU_ records per page',
            info:         'Showing page _PAGE_ of _PAGES_',
            zeroRecords:  'Nothing found - sorry',
            infoEmpty:    'No records available',
            infoFiltered: '(filtered from _MAX_ total records)'
        }
    });
</script>



