

<style>
    #send_to_one{display:none;}
</style>


<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@issueaction, multipart: true, remote: false, html: {role: :form, 'data-model' => 'issueaction', id: 'mediateresult_form'}) do |f| %>

    <%= hidden_field(:issueaction, :issue_id, :value => @mediation.issue_id) %>
    <%= hidden_field(:issueaction, :structure_id, :value => @mediation.issue.structure_id) %>
    <%= hidden_field_tag(:frommediation, true) %>
    <%= hidden_field(:issueaction, :mediation_id, :value => @mediation.id) %>

<%# Added Bootstrap classes, and help-block container for error messages %>

<div class="row">

        <div class="col-sm-12">
           <div class="field">
            Mediation End Date<br> REQUIRED  <small> If Resolved will be Resolution Date</small><br>
            <input type="text" name="mediate_end" id = "datepicker-mediateend" required="required">
          </div>


          <h4>Results Notes from Mediation for this Issue:</h4>
          (saved in Issue history)<br>
          <div class="field">
          <%= f.text_area :actionbody, cols: "100", rows: "3" %>
          </div>
        </div>

        <div class="col-sm-3">
      <div style="font-size: 16px">
        <h4>MediationResult</h4>
        <%= radio_button(:issueaction, 'actiontype', Actiontype::RESOLVED) %> Resolved<br>
        <%= radio_button(:issueaction,  'actiontype', Actiontype::ONGOING, checked: true) %> Ongoing<br>
       <%= radio_button(:issueaction,  'actiontype', Actiontype::ESCALATED) %> Escalate Issue<br>
        <%= radio_button(:issueaction,  'actiontype', Actiontype::CANCELLED) %> Cancel Issue<br>

      </div>

    </div>


    <div class="col-sm-9">

      <div class="row">
        <div class="col-sm-12">
          <h4>Resolution Description</h4>
          Will save to Issue Record<br>
          <%= text_area :issueresolved, cols: "100", rows: "40"  %><br>

        </div>

        Resolution Type<br>
        <%= f.collection_select(:resolutiontype_id, Resolutiontype.all, :id, :name, include_blank: true, :class => "form-control") %>




      </div>


     </div>





    </div>






    <div class="actions">
      <%= f.submit 'Submit', :class => "btn-small btn-primary" %>
    </div>
<% end %>

<script>
    $('#sandbox-container input').datepicker({
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){

        $("#send_to_one").hide();

        $("input:radio[name='issueaction[actiontype]']").change(function(){

            if(this.value == '<%= Actiontype::RESOLVED %>' && this.checked){
                $("#send_to_one").show();
            }else{
                $("#send_to_one").hide();
            }

        });

    });
</script>


<script type="text/javascript">
       $('#datepicker-mediateend').Zebra_DatePicker();
</script>

