

<style>
    #send_to_one{display:none;}
</style>








<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@issueaction, multipart: true, remote: false, html: {role: :form, 'data-model' => 'issueaction', id: 'mediateresult_form'}) do |f| %>

    <%= hidden_field(:issueaction, :issue_id, :value => @mediation.issue_id) %>
    <%= hidden_field(:issueaction, :structure_id, :value => @mediation.issue.structure_id) %>
    <%= hidden_field_tag(:frommediation, true) %>
    <%= hidden_field(:issueaction, :mediation_id, :value => @mediation.id) %>

<%# Added Bootstrap classes, and help-block container for error messages %>
    <div class="field">
      <%= f.label 'Note:' %><br>
      This Note will be saved in the Issue history table.
      <%= f.text_area :actionbody,  cols: "120", rows: "4" %>
    </div>


    <div class="field">





      Mediation End Date<br>   <small> If Resolved will be Resolution Date</small><br>

      <input type="text" name="mediate_end" id = "datepicker-mediateend">

    </div>












    <div class="field">
      <div style="font-size: 16px">

        <h3>Mediation Result</h3>
        <%= radio_button(:issueaction, :actiontype, Actiontype::RESOLVED) %> Resolved<br>

        <div>

          Enter Resolution Description if Resolved. Will save to Issue record<br>
          <%= text_area('issueresolved', :input_html => { :cols => 80, :rows => 8 }) %>


        </div>
        <div class="form-group">
          <%= f.label :resolutiontype, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.collection_select(:resolutiontype_id, Resolutiontype.all, :id, :name, include_blank: true, :class => "form-control") %>


          </div>
        </div>

        <%= radio_button(:issueaction, :actiontype, Actiontype::ONGOING, :checked => true )%> Ongoing<br>
        <%= radio_button(:issueaction, :actiontype, Actiontype::ESCALATED) %> Escalate Issue<br>
        <%= radio_button(:issueaction, :actiontype, Actiontype::CANCELLED) %> Cancel Issue<br>
     </div>
    </div>











    <div class="actions">
      <%= f.submit 'Submit', :class => "btn-small btn-primary" %>
    </div>
<% end %>

<script>
    $('#sandbox-container input').datepicker({
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){

        $("#send_to_one").hide();

        $("input:radio[name='issueaction[actiontype]']").change(function(){

            if(this.value == '<%= Actiontype::RESOLVED %>' && this.checked){
                $("#send_to_one").show();
            }else{
                $("#send_to_one").hide();
            }

        });

    });
</script>


<script type="text/javascript">
       $('#datepicker-mediateend').Zebra_DatePicker();
</script>

