<%= simple_form_for(@quarter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :qtryear %>
    <%= f.input :qtrqtr %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
