<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @membership.person_id %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @membership.structure_id %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
