
    <div class="panel panel-default">

      <div class="panel-heading">Status by Structure Organization</div>

      <div class="panel-body">
        <table class="table">
          <%= render 'projects/structuretablehead' %>

          <tbody>
          <% s= @structure %>
          <%= render partial: 'projects/structuretablerow', :locals => { :s => s } %>
          </tbody>
        </table>
      </div>
    </div>






    <div class="container">

      <div class="row">

        <div class="col-lg-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">Summary to Date</div>
            </div>
            <div class="panel-body">
              <div class="col-lg-12">
                <!-- START widget-->
                <div class="panel widget">
                  <div class="row row-table row-flush">
                    <div class="col-xs-6 bb br">
                      <div class="row row-table row-flush">
                        <div class="col-xs-4 text-center text-info">
                          <em class="fa fa-wrench fa-2x"></em>
                        </div>
                        <div class="col-xs-8">
                          <div class="panel-body text-center">
                            <h4 class="mt0"><%= @structure.project.cumulative_issues(0,@structure.id,0,0).count %></h4>
                            <p class="mb0 text-muted">Total Issues</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 bb">
                      <div class="row row-table row-flush">
                        <div class="col-xs-4 text-center text-danger">
                          <em class="fa fa-users fa-2x"></em>
                        </div>
                        <div class="col-xs-8">
                          <div class="panel-body text-center">
                            <h4 class="mt0"><%= @structure.project.meetings(0,@structure.id,0,0).count %></h4>

                            <p class="mb0 text-muted">Meetings/Mediations</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row row-table row-flush">
                    <div class="col-xs-6 br">
                      <div class="row row-table row-flush">
                        <div class="col-xs-4 text-center text-inverse">
                          <em class="fa fa-check fa-2x"></em>
                        </div>
                        <div class="col-xs-8">
                          <div class="panel-body text-center">
                            <h4 class="mt0"><%= @structure.project.agenda_results(0,@structure.id,Result::RESOLVED,0,0).count %></h4>

                            <p class="mb0 text-muted">Issues Resolved</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="row row-table row-flush">
                        <div class="col-xs-4 text-center text-success">
                          <em class="fa fa-inbox fa-2x"></em>
                        </div>
                        <div class="col-xs-8">
                          <div class="panel-body text-center">
                            <h4 class="mt0"><%= @structure.project.curentopen(0,@structure.id,0,0).count %></h4>
                            <p class="mb0 text-muted">Open Issues</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END widget-->
              </div>
            </div>
          </div>




        








        <div class="col-lg-4">

          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="panel-title">Current Quarter <%= @qtrname %></div>
            </div>

            <div class="panel-body">
              <!-- START table-responsive-->
              <div class="table-responsive">
                <table class="table">

                  <tbody>
                  <tr>
                    <td>Beginning Qtr Open1</td>
                    <td><%= @structure.project.beginissues(@d2,0,0,0).count %>
                      <%= link_to 'Details', '#beginissue_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %>
                    </td>

                  </tr>
                  <tr>

                    <td>New Issues this Quarter</td>

                    <td><%= @structure.project.quarter_issues(@d2,0,0,0).count %></td>
                  </tr>
                  <tr>

                    <td><strong>Agendas heard at Meetings</strong></td>

                    <td><%= @structure.project.get_agendas(@d2,0,0,0).count %></td>
                  </tr>


                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Agenda Result: Resolved</td>
                    <td><%= @structure.project.agenda_results(@d2,0,Result::RESOLVED,0,0).count %></td>
                  </tr>
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Agenda Result: Mediation</td>
                    <td><%= @structure.project.agenda_results(@d2,0,Result::MEDIATION,0,0).count %></td>
                  </tr>
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Agenda Result: Referred (Escalated)</td>
                    <td><%= @structure.project.agenda_results(@d2,0,Result::ESCALATED,0,0).count %></td>
                  </tr>
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Agenda Result: Cancelled</td>
                    <td><%= @structure.project.agenda_results(@d2,0,Result::CANCELLED,0,0).count %></td>
                  </tr>
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Agenda Result: Unresolved</td>
                    <td><%= @structure.project.agenda_results(@d2,0,Result::ONGOING,0,0).count %></td>
                  </tr>



                  <tr>

                    <td>Mediations Opened</td>

                    <td><%= @structure.project.mediation_starts(@d2,0,0,0).count %></td>
                  </tr>
                  <tr>

                    <td>Mediations Closed</td>

                    <td><%= @structure.project.mediation_ends(@d2,0,0,0).count %></td>
                  </tr>






                  <tr>

                    <td>Resolved</td>

                    <td><%= @structure.project.quarter_resolved(@d2,0,0,0).count %></td>
                  </tr>






                  </tbody>
                </table>
              </div>
              <!-- END table-responsive-->
            </div>
          </div>
          <!-- END panel-->











        </div>



      </div>





    </div>


