<div class="panel panel-default">
  <div class="panel-heading">

  </div>
  <div class="panel-body">


<%= simple_form_for @structure do |f|  %>
  <% if @structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@structure.errors.count, "error") %> prohibited this structure from being saved:</h2>

      <ul>
      <% @structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal">
      <div class="form-group">
        <%= f.label :name, :class => "col-sm-2" %>
        <div class="col-sm-10">
          <div style="width: 350px">
          <%= f.input :name, :class => "form-control" %>
            </div>
        </div>
      </div>

  <div class="form-group">
    <%= f.label 'Short Code', :class => "col-sm-2" %>
    <div class="col-sm-10">
      <div style="width: 350px">
        <%= f.input :short, :class => "form-control", :width => '30', :label => false  %>
      </div>
    </div>
  </div>

      <div class="form-group">
        <%= f.label 'Structure Type', :class => "col-sm-2" %>
        <div class="col-sm-10">
          <%= f.select(:structuretype, Structuretype.to_a, :class => "form-control") %>
          <%#= f.select :structuretype, Structure.structuretype.to_a %>
        </div>
      </div>



     <!---<div class="form-group">
        <%#= f.label 'County', :class => "col-sm-2" %>
        <div class="col-sm-10">
          <%#= f.collection_select(:county_id, County.all, :id, :name, include_blank: true, :class => "form-control") %>
        </div>
      </div>--->

      <div class="form-group">
        <%= f.label 'District', :class => "col-sm-2" %>
        <div class="col-sm-10">
          <%= f.grouped_collection_select :district_id, County.order(:name), :districts, :name, :id, :name, include_blank: true, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Default Meeting Location', :class => "col-sm-2" %>
        <div class="col-sm-10">
          <div style="width: 350px">
          <%= f.input :default_location, :class => "form-control", :label => false %>
            </div>
        </div>
      </div>




        <div class="form-group">
          <div class = "col-sm-2" ></div>
          <div class="col-sm-10">
            <div style="width: 350px">
              <%= f.submit :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
</div>


<% end %>



  </div>
</div>