<div class="row">
  <div class="col-sm-5">



    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @canedit %>
        <%= link_to 'Edit', edit_structure_path(@structure), :class => "btn btn-small btn-primary pull-right"   %>
        <% end %>
            </div>
      <div class="panel-body">
        <div class="form-horizontal">


          <div class="form-group">
            <label class="col-sm-3">Type (Level)</label>
            <div class="col-sm-9">
              <strong> <%= @structure.structuretype_humanize if @structure.structuretype %></strong>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3">County</label>
            <div class="col-sm-9">
              <strong> <%= @structure.district.county.name if @structure.district_id %></strong>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3">District</label>
            <div class="col-sm-9">
              <strong> <%= @structure.district.name if @structure.district_id %></strong>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3">Parent Structure</label>
            <div class="col-sm-9">
              <strong> <%= @parent.name if @structure.parent_id %></strong>
            </div>
          </div>

          <div class="form-group">

            <label class="col-sm-2">Default Meeting Location</label>
            <div class="col-sm-9">
              <strong> <%= @structure.default_location  %></strong>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Management (Users)</h3>
        <%#= link_to 'Add Manager', '#new_mgmt_modal', 'data-toggle' => 'modal', :class => "btn btn-success pull-right" %>
      </div>
      <div class="panel-body">

        <% @mymanagers.each do |a| %>
            <%= a.user.name %><br>

        <% end %>
        <hr><br><br>
        <small>Add Manager</small><br>


        <script type="text/javascript">
          $(document).ready(function() {
            $(".selectmanager").select2();
          });
        </script>
        <% if @canedit %>
            <%= form_tag addmanager_path do |f| %>

                Add Current System Managers to this Stucture
                <div class="field">
                  <%#= debug @availablemanagers  %><br>
                  <%= select_tag 'user_id', options_from_collection_for_select(@availablemanagers, :id, :name), include_blank: true, :class => "selectmanager" %>


                </div>



                <%= hidden_field_tag(:structure_id, @structure.id) %>
                <div class="actions">
                  <%= submit_tag 'Submit', :class => "btn btn-small btn-primary" %>
                </div>
            <% end %>
        <% end %>

      </div>
    </div>






















  </div>







  <div class="col-sm-7">
    <%= @structure.name %> Summary
    <table id="datatables1"  class="table table-striped hover">

        <thead>
        <tr>
          <th>Status</th>
          <th>Number</th>

        </tr>
        </thead>
      <tbody>
      <tr><td><span class="btn-new">New Issues*</span></td><td><%= @newissues %></td></tr>
      <tr><td><button class="btn btn-ongoing">Ongoing</button></td> <td><%=  @ongoingissues %></td></tr>
      <tr><td><button class="btn btn-mediation">In Mediation</button></td> <td><%=  @mediationissues %></td></tr>
      <tr><td><button class="btn btn-resolved">Resolved</button></td> <td><%=  @resolvedissues %></td></tr>
      <tr><td><button class="btn btn-cancelled">Cancelled</button></td>  <td><%=   @cancelledissues %></td></tr>
      </tbody>
    </table>



      <%= @structure.name %> Issues by Category
      <table id="datatables1"  class="table table-striped hover" width=""100%">

        <thead>
        <tr>
          <th>Status</th>
          <th>New Issues*</th>
          <th>Ongoing</th>
          <th>Mediation</th>
          <th>Resolved</th>
          <th>Cancelled</th>
        </tr>
        </thead>
        <tbody>
        <% @allcats.each do |c| %>

            <% catissues = Issue.where('category_id = ?', c.id ) %>

            <% newissues=catissues.where(:status => Status::NEW).count %>
            <% ongoingissues=catissues.where(:status => Status::ONGOING).count %>
            <% mediationissues=catissues.where(:status => Status::MEDIATION).count %>
            <% resolvedissues=catissues.where(:status => Status::RESOLVED).count %>
            <% cancelledissues=catissues.where(:status => Status::CANCELLED).count %>
            <tr><td><%= c.name %></td>
              <td><%= newissues %></td>
               <td><%=  ongoingissues %></td>
               <td><%=  mediationissues %></td>
               <td><%=  resolvedissues %></td>
               <td><%=  cancelledissues %></td>
            </tr>
         <% end %>
        </tbody>
      </table>

      * Issues not yet addressed in Meeting or Mediation





  </div>








</div>
<% if @structure.ismanager(current_user.id) %>

  <%= link_to 'Delete', @structure, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
<% end %>