<div class="row">
  <div class="col-sm-5">



    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">General Information</h3>
        <% if @canedit %>
        <%= link_to 'Edit', edit_structure_path(@structure), :class => "btn btn-small btn-primary pull-right"   %>
        <% end %>
            </div>
      <div class="panel-body">
        <div class="form-horizontal">


          <div class="form-group">
            <label class="col-sm-3">Type (Level)</label>
            <div class="col-sm-9">
              <strong> <%= @structure.structuretype_humanize if @structure.structuretype %></strong>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3">County</label>
            <div class="col-sm-9">
              <strong> <%= @structure.district.county.name if @structure.district_id %></strong>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3">District</label>
            <div class="col-sm-9">
              <strong> <%= @structure.district.name if @structure.district_id %></strong>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3">Parent Structure</label>
            <div class="col-sm-9">
              <strong> <%= link_to @parent.name, @parent if @structure.parent_id %></strong>
            </div>
          </div>

          <div class="form-group">

            <label class="col-sm-2">Default Meeting Location</label>
            <div class="col-sm-9">
              <strong> <%= @structure.default_location  %></strong>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
  <div class="col-sm-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Management (Users)</h3>
        <%#= link_to 'Add Manager', '#new_mgmt_modal', 'data-toggle' => 'modal', :class => "btn btn-success pull-right" %>
      </div>
      <div class="panel-body">
<table class="table">
        <% @mymanagers.each do |a| %>
      <tr>
        <td>
          <%= a.user.name %>
        </td>
        <td>
          <% if @canedit %>
          <%= link_to deletemanager_path(:manager_id => a.id),  data: { confirm: 'Are you sure?' } do %><em class="fa fa-minus-circle"></em><% end %>
            <% end %>
        </td>

      </tr>

        <% end %>
</table>
        <hr><br><br>
        <small>Add Manager</small><br>


        <script type="text/javascript">
          $(document).ready(function() {
            $(".selectmanager").select2();
          });
        </script>
        <% if @canedit %>
            <%= form_tag addmanager_path do |f| %>

                Add Current System Managers to this Stucture
                <div class="field">
                  <%#= debug @availablemanagers  %><br>
                  <%= select_tag 'user_id', options_from_collection_for_select(@availablemanagers, :id, :name), include_blank: true, :class => "selectmanager" %>


                </div>



                <%= hidden_field_tag(:structure_id, @structure.id) %>
                <div class="actions">
                  <%= submit_tag 'Submit', :class => "btn btn-small btn-primary" %>
                </div>
            <% end %>
        <% end %>

      </div>
    </div>




  </div>






</div>
<% if @structure.ismanager(current_user.id) %>

  <%= link_to 'Delete', @structure, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
<% end %>