<style>
  .cscbox, .dscbox, .cfbox, .blankbox  {
      min-height: 50px;
      padding: 2px;
      margin-top: 8px;
  }

.cscbox {
    background-color: #fff;
    color: #000;
    border: 3px solid #553982;
    font-size: 14px;
}
  .dscbox {
      background-color: #fff;
      color: #000;
      border: 3px solid #478500;
      font-size: 14px;
  }

  .cfbox {
      background-color: #fff;
      color: #000;
      border: 3px solid #CCC;
      font-size: 14px;
  }

  .blankbox {

      border: 1px #fff solid;
  }
</style>

<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Structures</h1>


  <div class="row">
    <% @csc_structures.each do |csc| %>

        <% dsc_structures = Structure.where('county_id = ? and structuretype_id = ?', csc.county_id, 2 ) %>

        <div class="col-sm-3">
          <div class="col-sm-12 cscbox">
            <strong><%= link_to csc.name, csc %></strong>


            <div class="pull-right">
            <% if csc.calcmeets > 0 %>
                  <%= fa_icon "users", :style => "color: green" %><%= csc.calcmeets %><br>
            <% end %>
              <% if csc.calcopen > 0 %>
                  <%= fa_icon "wrench", :style => "color: blue" %>
            <%= csc.calcopen %>
                  <% end %>
          </div>

         </div>
          <% dsc_structures.each do |dsc| %>
              <% cf_structures = Structure.where('district_id = ? and structuretype_id = ?', dsc.district_id, 1 ) %>
              <div class="col-sm-2">&nbsp;</div>

              <div class="col-sm-10 dscbox">
                <strong><%= link_to dsc.name, dsc %></strong>

                <div class="pull-right">
                  <% if dsc.calcmeets > 0 %>
                      <%= fa_icon "users", :style => "color: green" %><%= dsc.calcmeets %><br>
                  <% end %>
                  <% if dsc.calcopen > 0 %>
                      <%= fa_icon "wrench", :style => "color: blue" %>
                      <%= dsc.calcopen %>
                  <% end %>
                </div>
              </div>

              <% cf_structures.each do |cf| %>
                  <div class="col-sm-4">&nbsp;</div>

                  <div class="col-sm-8 cfbox">
                    <strong><%= link_to cf.name, cf %></strong>

                    <div class="pull-right">
                      <% if cf.calcmeets > 0 %>
                          <%= fa_icon "users", :style => "color: green" %><%= cf.calcmeets(cf.id) %><br>
                      <% end %>
                      <% if cf.calcopen > 0 %>
                          <%= fa_icon "wrench", :style => "color: blue" %>
                          <%= cf.calcopen %>
                      <% end %>
                    </div>
                  </div>
              <% end %>

        <% end %>

</div>
    <% end %>
  </div>


<br>

<%= link_to 'New Structure', new_structure_path, :class => "btn btn-primary" %>

</div>