<style>
  .cscbox, .dscbox, .cfbox, .blankbox  {
      min-height: 40px;
      padding: 1px;
      margin-top: 8px;
  }

.cscbox {
    background-color: #fff;
    color: #000;
    border: 1px solid #553982;
    font-size: 14px;
}
  .dscbox {
      background-color: #fff;
      color: #000;
      border: 1px solid #478500;
      font-size: 14px;

  }

  .cfbox {
      background-color: #fff;
      color: #000;
      border: 1px solid #CCC;
      font-size: 14px;

  }

  .blankbox {

      border: 1px #fff solid;
  }
</style>




<section>
  <!-- Page content-->
  <div class="content-wrapper">




    <h4 class="page-header">MLDL Structures</h4>
    <!-- START row-->



    <div class="row">
      <% @csc_structures.each do |csc| %>

          <% dsc_structures = Structure.where('county_id = ? and structuretype = ?', csc.county_id, Structuretype::DSC ) %>

          <div class="col-sm-3">
            <div class="col-sm-12 cscbox">
              <strong><%= link_to csc.name, csc %></strong>


              <div class="pull-right">
                <%= fa_icon "users", :style => "color: green" %>
                <%= csc.qmeetings(0,0,csc.id,0).count %>
                <%= fa_icon "wrench", :style => "color: blue" %>
                <%= csc.openissues(0,0,csc.id,0).count %>
              </div>

            </div>
            <% dsc_structures.each do |dsc| %>
                <% cf_structures = Structure.where('district_id = ? and structuretype = ?', dsc.district_id, Structuretype::CF ) %>

                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10 dscbox">
                  <strong><%= link_to dsc.name, dsc %></strong>

                  <div class="pull-right">

                    <%= fa_icon "users", :style => "color: green" %>
                    <%= dsc.qmeetings(0,0,dsc.id,0).count %>

                    <%= fa_icon "wrench", :style => "color: blue" %>
                    <%= dsc.openissues(0,0,dsc.id,0).count %>
                  </div>
                </div>

                <% cf_structures.each do |cf| %>

                    <div class="col-sm-4">&nbsp;</div>
                    <div class="col-sm-8 cfbox">
                      <strong><%= link_to cf.name, cf %></strong>

                      <div class="pull-right">
                        <%= fa_icon "users", :style => "color: green" %>
                        <%= cf.qmeetings(0,0,cf.id,0).count %>

                        <%= fa_icon "wrench", :style => "color: blue" %>
                        <%= cf.openissues(0,0,cf.id,0).count %>
                      </div>
                    </div>
                <% end %>

            <% end %>

          </div>
      <% end %>













    </div>
    <!-- END row-->










  </div>
</section>
