<style>
  .cscbox, .dscbox, .cfbox,.nscbox, .blankbox  {
      min-height: 40px;
      padding: 1px;
      margin-top: 8px;
  }

  .nscbox {
      background-color: #fff;
      color: #000;
      border: 1px solid #ccc;
      font-size: 14px;
  }




.cscbox {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    font-size: 14px;
}
  .dscbox {
      background-color: #fff;
      color: #000;
      border: 1px solid #ccc;
      font-size: 14px;

  }

  .cfbox {
      background-color: #fff;
      color: #000;
      border: 1px solid #CCC;
      font-size: 14px;

  }

  .blankbox {

      border: 1px #fff solid;
  }
        .short {
            color: #cccccc;
            font-size: 22px;
            font-weight: bold;
        }


       /* unvisited link */
   a:link {
       color: #ffffff;
   }

  /* visited link */
  a:visited {
      color: #ffffff;
  }

  /* mouse over link */
  a:hover {
      color: #cccccc;
  }

  /* selected link */
  a:active {
      color: #ffffff;
  }











</style>




<section>
  <!-- Page content-->
  <div class="content-wrapper">




    <h4 class="page-header">MLDL Structures</h4>
    <!-- START row-->



    <div class="row">
      <div class="col-sm-12 nscbox">
        <div class="col-sm-12 nsccolor">
          <strong><%= link_to @nsc.name, @nsc %></strong>
        </div>
        <div class="col-sm-12">
               <div class="pull-right">
                <%= fa_icon "users", :style => "color: green" %>
                <%= @nsc.openmeetings(0,0,@nsc.id,0).count %>
                <%= fa_icon "wrench", :style => "color: blue" %>
                <%= @nsc.openissues(0,0,@nsc.id,0).count %>
              </div>
              <small>
                <% nscmanagers = @nsc.listmanagers(@nsc.id) %>
                <% nscmanagers.each do |nsc| %>
                    <%= nsc.user.name %><br>
                <% end %>
              </small>
        </div>
      </div>

      <% @csc_structures.each do |csc| %>

          <%# csc.getdistricts(csc.county_id) %>

          <div class="col-sm-3">
            <div class="col-sm-12 cscbox">
              <div class="col-sm-12 csccolor">
                <strong><%= link_to csc.name, csc %></strong>
              </div>
              <div class="col-sm-12">



                      <div class="pull-right">
                        <%= fa_icon "users", :style => "color: green" %>
                        <%= csc.openmeetings(0,0,csc.id,0).count %>
                        <%= fa_icon "wrench", :style => "color: blue" %>
                        <%= csc.openissues(0,0,csc.id,0).count %>
                      </div>
                      <small>
                      <% cscmanagers = csc.listmanagers(csc.id) %>
                      <% cscmanagers.each do |m| %>
                        <%= m.user.name %><br>
                      <% end %>
                      </small>
              </div>
            </div>
            <% csc.getdistricts(csc.county_id).each do |dsc| %>


                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-10 dscbox">
                  <div class="col-sm-12 dsccolor">
                    <strong><%= link_to dsc.name, dsc %></strong>
                  </div>
                  <div class="col-sm-12">

                      <div class="pull-right">

                        <%= fa_icon "users", :style => "color: green" %>
                        <%= dsc.openmeetings(0,0,dsc.id,0).count %>

                        <%= fa_icon "wrench", :style => "color: blue" %>
                        <%= dsc.openissues(0,0,dsc.id,0).count %>
                      </div>
                      <small>
                      <% dscmanagers = csc.listmanagers(dsc.id) %>
                      <% dscmanagers.each do |m| %>
                          <%= m.user.name %><br>
                      <% end %>
                      </small>

                    </div>

                </div>

                <% csc.getcfs(dsc.district_id).each do |cf| %>

                    <div class="col-sm-4">&nbsp;</div>
                    <div class="col-sm-8 cfbox sbox">


                        <div class="col-sm-12 cfcolor">
                          <strong><%= link_to cf.name, cf %></strong>
                        </div>
                        <div class="col-sm-12">



                          <div class="pull-right">
                            <%= fa_icon "users", :style => "color: green" %>
                            <%= cf.openmeetings(0,0,cf.id,0).count %>

                            <%= fa_icon "wrench", :style => "color: blue" %>
                            <%= cf.openissues(0,0,cf.id,0).count %>
                          </div>
                          <small>
                          <% cfmanagers = csc.listmanagers(cf.id) %>
                          <% cfmanagers.each do |m| %>
                              <%= m.user.name %><br>
                          <% end %>
                          </small>
                       </div>

                    </div>
                <% end %>

            <% end %>

          </div>
      <% end %>

      </div>
    <!-- END row-->










  </div>
</section>
