







<style>

.modal-addmeeting {
width: 800px;
}
.modal-addissue {
width: 800px;
}

</style>





<script type="text/javascript">
  $(document).ready(function() {
    $(".chosen-select").select2();
  });

</script>


<div class="row">
  <div class="col-md-6">

    <%= link_to 'Return to Structures', structures_path %><br>
    <span class="pageheader"><span style="color: #999">Structure: </span><%= @structure.name %></span>
    <!-- START row-->

  </div>
  <div class="col-md-6">

    <div class="pull-right">
      <% if @canedit %>
          <div class="pull-right"><br>
            <%= link_to 'New Issue', new_issue_path(:structure_id => @structure.id), 'data-no-turbolink' => true, :class => "btn btn-success"  %>
            <%#= link_to 'New Issue', '#new_issue_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %>
            <%= link_to "New Meeting", new_meeting_path(:structure_id => @structure.id), :class => "btn btn-success" %>
          </div>
      <% end %>

    </div>

  </div>
</div>


<!-- Page content-->












  <div class="row">


        <div class="col-sm-12">




          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#viewdash">Dashboard</a></li>
            <li><a data-toggle="tab" href="#viewissues">Issues</a></li>
            <li><a data-toggle="tab" href="#viewgeneral">General</a></li>
            <li><a data-toggle="tab" href="#viewmeetings">Meetings</a></li>
            <li><a data-toggle="tab" href="#viewmediations">Mediations</a></li>
            <li><a data-toggle="tab" href="#viewmembers">Members</a></li>
            <li><a data-toggle="tab" href="#viewdocs">Documents</a></li>
          </ul>

          <div class="tab-content">
            <div id="viewdash" class="tab-pane fade in active">

              <%= render partial: 'structure_dashboard' %>
            </div>

            <div id="viewgeneral" class="tab-pane fade">

              <%= render partial: 'structures/general' %>
            </div>

            <div id="viewissues" class="tab-pane">
              <% @tabhead = @structure.name + ' Issues' %>
              <%= render partial: 'issues/issues_table' %>
            </div>
            <div id="viewmeetings" class="tab-pane fade">
              <% @tabhead = @structure.name + ' Meetings' %>
              <%= render partial: 'meetings/meetings_table' %>
            </div>
            <div id="viewmediations" class="tab-pane fade">
              <% @tabhead = @structure.name + ' Mediations' %>
              <%= render partial: 'mediations/mediations_table' %>
            </div>
            <div id="viewmembers" class="tab-pane fade">

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">People (non Users linked to Structure)</h3>
                  <%#= link_to 'Add Person', '#new_person_modal', 'data-toggle' => 'modal', :class => "btn btn-success pull-right" %>
                </div>
                <div class="panel-body">

                  <table class="table">
                    <thead>
                    <th>Name</th>
                    <td>Title</td>
                    <th>Email</th>
                    <th>Organization/Title</th>
                    <th></th>

                    </thead>
                    <tbody>
                    <% @mypeople.each do |p| %>
                        <tr>
                          <td>  <%= link_to p.person.fullname, p.person %> </td>

                          <td><%= p.person.title %></td>
                          <td><%= p.person.email %></td>
                          <td><%= p.person.organization.name if p.person.organization_id %></td>
                          <td>
                            <% if @canedit %>
                            <%= link_to deletemembership_path(:membership_id => p.id),  data: { confirm: 'Are you sure?' } do %><em class="fa fa-minus-circle"></em><% end %>
                            <% end %>
                          </td>

                        </tr>
                    <% end %>
                    </tbody>
                  </table>

                  <hr>
                  <% if @canedit %>
                    <small>Link Person to Structure</small><br>
                    <%= render 'addmember' %>


                  <% end %>

                  <script type="text/javascript">
                    $(document).ready(function() {
                      $(".js-example-basic-single").select2();
                    });

                  </script>

                </div>

              </div>
            </div>





            <div id="viewdocs" class="tab-pane fade">






              <div class="panel panel-info">
                <div class="panel-heading">
                  Documents

                </div>
                <div class="panel-body">



                  <table class="table">

                    <% @structuredocs.each do |doc| %>
                        <tr>

                          <td>
                            <%= link_to doc.document_file_name , doc.document.url(:original, false) %>
                          </td>
                          <td>
                            <%= doc.document_updated_at %><br>
                          </td>
                        </tr>

                    <% end %>
                  </table>


                  <br><BR>

                  <% if @canedit %>
                      <%= simple_form_for @new_site_document do |form| %>
                          <%= form.hidden_field :documentable_id, :value => @structure.id %>
                          <%= form.hidden_field :documentable_type, :value => 'structure' %>
                          <%= form.input :document, as: :file, :label => false %>
                          <%= form.button :submit, :value => 'Upload Document', :class => "mb-sm btn btn-primary" %>
                      <% end %>
                  <% end %>




                </div>
              </div>





            </div>









          </div>










        </div>
  </div>









      </div>






<div class="modal fade" id="new_mgmt_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-addmgmt">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <small>Add Management to Structure</small><br>
        <h4 class="modal-title" id="myModalLabel"><%= @structure.name %></h4>
      </div>
      <div class="modal-body">
        <%= render 'addmanager', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="new_issue_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-addmeeting">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <small>Add New Issue to Structure</small><br>
        <h4 class="modal-title" id="myModalLabel"><%= @structure.name %></h4>

        <div id="error_explanation" style="display:none;">
      </div>
      <div class="modal-body">
        <%= render 'addstructureissue', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="new_meeting_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-addmeeting">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <small>Add New Structure Meeting</small><br>
        <h4 class="modal-title" id="myModalLabel"><%= @structure.name %></h4>
      </div>
      <div class="modal-body">
        <%= render 'addstructuremeeting', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>











<script>
  $(function(){

  var options = {
    series: {
      pie: {
        show: true,
        innerRadius: 0,
        label: {
          show: true,
          radius: 0.8,
          formatter: function (label, series) {
            return '<div class="flot-pie-label">' +
                      //label + ' : ' +
                    Math.round(series.percent) +
                    '%</div>';
          },
          background: {
            opacity: 0.8,
            color: '#222'
          }
        }
      }
    }
  };

  var chart = $('.chart-pie');
  if(chart.length)
    $.plot("#placeholder", <%= @piestatic %>, options);
  });




    $('#new_mgmt_modal').on('submit', function() {
      $('#new_mgmt_modal').modal('hide');
    })


    $('#new_issue_modal').on('submit', function() {
      $('#new_issue_modal').modal('hide');
    })

    $('#new_meeting_modal').on('submit', function() {
      $('#new_meeting_modal').modal('hide');
    })


  </script>




