


<% modal ||= false %>
<% remote = modal ? true : false %>


<% thisagenda = Agenda.find(agenda_id) %>
<% thisissue = Issue.find(thisagenda.issue_id) %>

<%= form_for (@issueaction), :data => {:parsley_validate => "", :novalidate => ""}  do |f| %>
<%#= form_for(@issueaction) do |f| %>
    <div class="form-horizontal">
      <% if @issueaction.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@issueaction.errors.count, "error") %> prohibited this action from being saved:</h2>

            <ul>
              <% @issueaction.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= hidden_field(:issueaction, :meeting_id, :value => @meeting.id) %>
      <%= hidden_field(:issueaction, :structure_id, :value => @meeting.structure_id) %>

      <%= hidden_field(:issueaction, :issue_id, :value => thisagenda.issue_id) %>
      <%= hidden_field_tag(:parent_id, thisissue.structure.parent_id) %>

      <%= hidden_field(:issueaction, :structure_id, :value => @meeting.structure_id) %>
      <%= hidden_field_tag(:agenda_id, agenda_id) %>

      <div class="row">
        <div class="col-sm-12">
          <h4>Results Notes from Meeting for this Issue:</h4>
          (saved in Issue history)<br>
          <%= f.text_area :actionbody, cols: "100", rows: "3" %>

         </div>

        <div class="col-sm-3">

      <div style="font-size: 16px">

            <h4>Meeting Result</h4>



            <%= radio_button(:issueaction, 'actiontype', Actiontype::RESOLVED) %> Resolved<br>
          <%= radio_button(:issueaction,  'actiontype', Actiontype::ONGOING, checked: true) %> Ongoing<br>
            <%= radio_button(:issueaction, 'actiontype', Actiontype::MEDIATION) %> Send to Mediation<br>
      <%= radio_button(:issueaction,  'actiontype', Actiontype::ESCALATED) %> Escalate Issue<br>
            <%= radio_button(:issueaction,  'actiontype', Actiontype::CANCELLED) %> Cancel Issue<br>



          </div>

       </div>

s
      <div class="col-sm-9">

        <div class="row">
          <div class="col-sm-12">
            <h4>Resolution Description</h4>
            Will save to Issue Record<br>
            <%= text_area 'issueresolved', cols: "100", rows: "4"  %><br>

          </div>

          Resolution Type<br>
            <%= f.collection_select(:resolutiontype_id, Resolutiontype.all, :id, :name, include_blank: true, :class => "form-control") %>


        <h4>Mediation Start</h4>
        <div id="sandbox-container">
            <div class="input-group date">
              <input  name="mediate_start" type="text" id="datepicker-mediatestart" class="form-control" width="100">
              <%# f.input :mediation_start, :class => "form-control", :width => "80" %>
            </div>

          </div>

        </div>




      </div>




      </div>




      <div class="pull-right"><%= f.submit 'Record Meeting Result', :class => "btn btn-primary" %></div>
      <br><br>
    </div>
<% end %>

<script>
  $('#datepicker-mediatestart').Zebra_DatePicker();

</script>

<script type="text/javascript">



  var checkbox = document.getElementById('<%= @linkdiv %>');
  var details_div = document.getElementById('<%= @peepdiv %>');
  checkbox.onchange = function() {
    if(this.checked) {
      details_div.style['display'] = 'block';
    } else {
      details_div.style['display'] = 'none';
    }
  };
</script>
