<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%#= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%#= wicked_pdf_javascript_include_tag "number_pages" %>
</head>



<style>
    p {
        font-size: 12px;
    }
    .contentarea {
        font-size: 14px;


    }
    table {
        font-size: 12px;
    }
    .isection {
        background-color: #999;
        color: #fff;
        font-size: 12px;

    }

    .issuedesc {
        background-color: #ccc;
        color: #000;
        font-size: 10px;
    }

    div.meetnotes {
        border: #666 solid 2px;
        height: 100px;
    }

    div.newnotes {
        border: #666 solid 2px;
        height: 200px;
    }

    div.closenotes {
        border: #666 solid 2px;
        height: 400px;
    }

    table.pdfgen {
        width: 100%;
        border-collapse: collapse;
    }

    table.pdfbox {
        border-collapse: collapse;
        width: 100%;
    }


    .tdpdfhead {
        border: solid #333 1px;
        font-weight: bold;
        background-color: #58ceb1;

    }

    .tdpdf {
        border: solid #333 1px;

    }


</style>


<body onload='number_pages'>
<div id="header">
  <table class="pdfgen">
    <tr>
      <td>
        <span style="font-size: 24px; font-weight: bold; color: coral;">MLDL2</span><br>
        <span style="font-size: 12px">Mitigating Local Disputes in Liberia, Phase II</span><br>
        Report Date: <%= Date.today() %>
      </td>
      <td style="text-align: right">

        <span style="color: #666; font-size: 24px"><%= @meeting.meetingid %></span><br>
        Meeting Date: <%= @meeting.meeting_on %>   at   <%=  @meeting.starts_at.strftime("%H:%M") if @meeting.starts_at %><br>
        Status:
        <% if @meeting.meeting_held == true %>
            Closed
        <% else %>
            Open
        <% end %>

      </td>
    </tr>



  </table>

</div>

<div id="content">
















<div>
  <table class="pdfgen">
    <tr>
      <td class="tdpdf">Structure: <strong><%= @meeting.structure.name %></strong></td>
      <td class="tdpdf">Meeting Duration: </td>
      <td class="tdpdf">Scope: <strong><%= @issue.scope.name if @issue.scope_id %></strong></td>

    </tr>

    <tr>
      <td class="tdpdf">Location: <strong><%=  @meeting.location %></strong></td>
      <td class="tdpdf">Structure: <strong><%#= @issue.structure.name %></strong></td>
      <td class="tdpdf">District: <strong><%= @issue.district.name if @issue.district_id %></strong></td>

    </tr>


    <tr>
      <td class="tdpdf">&nbsp;</td>
      <td class="tdpdf"><br>Attendees (Male): <strong><%= @meeting.attendees_male %></strong></td>
      <td class="tdpdf"><br>Attendees (Female): <strong><%= @meeting.attendees_females %></strong></td>

    </tr>







  </table>
</div>
<h3>Agenda Items</h3>
<% @myagendas.each do |agenda| %>
<div class="contentarea">

  <strong><%= agenda.issue.issuecode %></strong>
   <%= agenda.issue.name %><br>
    District: <%= agenda.issue.district.name if agenda.issue.district_id %> Community: <%= agenda.issue.district.name  %></strong><br>

    <div class="issuedesc">
      <%= agenda.issue.description %>

</div>
<div class="meetnotes">

&nbsp;
</div>
<div>
<% end %>


  <% (1..15).each do |i| %>
      <div class="contentarea">

        <strong>New Issue</strong>
        Name: ____________________________________________________________________________________
       <br>
        District: _______________________________  Community: ____________________________________<br>


        <div class="newnotes">

          &nbsp;
        </div>
        <div>
  <% end %>







  <div>
    <h3>Meeting Particpants</h3>
    <table class="pdfgen">
      <tr>
        <td class="tdpdfhead">Name</td>
        <td class="tdpdfhead">Title</td>
        <td class="tdpdfhead">Organization</td>

      </tr>



      <% @participants.each do |p| %>
          <tr>
            <td class="tdpdf"><%= p.fullname %></td>
            <td class="tdpdf"><%= p.title %></td>

            <td class="tdpdf"><%= p.organization.name if p.organization_id %></td>


          </tr>


    <% end %>
      <% (1..15).each do %>
          <tr>
            <td class="tdpdf">&nbsp;</td>
            <td class="tdpdf">&nbsp;</td>
            <td class="tdpdf">&nbsp;</td>

          </tr>


      <% end %>





    </table>
  </div>






<div>
    <h3>Closeout Note:</h3>
  <div class="closenotes">

  <% if !@meeting.closenote.blank? %>
        <%= @meeting.closenote %>
        &nbsp;

    <% end %>
  </div>

  </div>



  <%#= yield %>
  </div>
  </body>
</html>
