<%= form_for(@issueaction) do |f| %>
  <% if @issueaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issueaction.errors.count, "error") %> prohibited this issueaction from being saved:</h2>

      <ul>
      <% @issueaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actiontype_id %><br>
    <%= f.text_field :actiontype_id %>
  </div>
  <div class="field">
    <%= f.label :meeting_id %><br>
    <%= f.number_field :meeting_id %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :issue_id %><br>
    <%= f.number_field :issue_id %>
  </div>
  <div class="field">
    <%= f.label :actionbody %><br>
    <%= f.text_area :actionbody %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
