    <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">



      <%= form_for(@person) do |f| %>
      <% if @person.errors.any? %>
         <div id="error_explanation">
            <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

            <ul>
            <% @person.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>

          <div class="field">
            <%= f.label :salut %><br>
            <%= f.text_field :salut %>
          </div>

      <div class="field">
        <%= f.label :name_first %><br>
        <%= f.text_field :name_first %>
      </div>
      <div class="field">
          <%= f.label :name_last %><br>
          <%= f.text_field :name_last %>
      </div>
          <div class="field">
            <%= f.label :suffix %><br>
            <%= f.text_field :suffix %>
          </div>


          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title %>
          </div>
          <%= f.select(:gender, Gender.to_a, :include_blank => true, :class => "form-control") %>

          <div class="form-group">
            <%= f.label :organization_id, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.collection_select(:organization_id, Organization.all, :id, :name, include_blank: true, :class => "form-control") %>

            </div>
          </div>

          <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
      </div>
      <div class="actions">
      <%= f.submit %>
      </div>
      <% end %>



    </div>
    </div>