<div class="container">
  <h2>Dashboard Options</h2>





<div class="row">

  <div class="col-sm-9">




    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#viewissues">Map</a></li>
      <li><a data-toggle="tab" href="#viewmeetings">Bar charts</a></li>
      <li><a data-toggle="tab" href="#viewmediations">D3 Dash</a></li>
      <li><a data-toggle="tab" href="#viewchartjs">Chartjs</a></li>
    </ul>

    <div class="tab-content">
      <div id="viewissues" class="tab-pane fade in active">
        <h3>CartoDB Map</h3>
        <%= render partial: 'cartodbimbed' %>
      </div>
      <div id="viewmeetings" class="tab-pane fade">
        <h3>RiskshawJS Bars</h3>
        <%= render partial: 'riskshawbars' %>
      </div>
      <div id="viewmediations" class="tab-pane fade">
        <h3> D3 Dashboard</h3>
        <%= render partial: 'd3dashboard' %>
      </div>
      <div id="viewchartjs" class="tab-pane fade">
        <h3> ChartJS</h3>
        <%= render partial: 'chartjs' %>
      </div>
    </div>










  </div>


  <div class="col-sm-3">
<h3>Monthly Activity Report</h3>


  <%= form_tag actionreport_path, :method => :get do %>
      <%= select_tag(:reportmonth, options_for_select(Month.to_a), :include_blank => 'Select Month >') %><br><br>

      <%= select_tag(:reportyear, options_for_select(['2014','2015', '2016']), :include_blank => 'Select Year')  %><br><br>
      <div class="actions">
        <%= submit_tag 'Generate', :class => 'btn btn-primary'%>
      </div>
  <% end %>


</div>
</div>














  <div class="col-md-6">
    <div class="panel panel-default">

      <div class="panel-heading">Status by Structure Organization</div>

      <div class="panel-body">
        <table class="table">
          <thead><tr>

          <th rowspan="2">Structure</th>

            <th colspan="5" style="background-color: #b3d271; color: #fff; text-align: center; border: 2px solid #fff;">Current Month</th>
          <th colspan="4" style="background-color: #ccc; color: #fff; text-align: center; center; border: 2px solid #fff;"">Total</th>
          </tr>



          <tr>
          <th>Meetings Held</th>
            <th>Total Issues</th>
          <th>Open</th>
          <th>Resolved</th>
            <th>Cancelled</th>


          </tr>
          </thead>
          <tbody>
          <% @structures.each do |s| %>




              <tr>
                <td>
                  <% if s.structuretype == Structuretype::NSC %>
                      <strong><%= link_to s.name, s  %></strong>
                <% elsif s.structuretype ==  Structuretype::CSC %>
                  <strong><%= link_to s.name, s  %></strong>
                <% elsif s.structuretype ==  Structuretype::DSC  %>

                      &nbsp;&nbsp;<%= link_to s.name, s  %>
                  <% elsif s.structuretype ==  Structuretype::CF  %>
                      &nbsp;&nbsp;&nbsp;&nbsp;<em><%= link_to s.name, s  %></em>
                  <% end %>

                </td>
                <td><%= s.qmeetings(0,0,s.id,0).count %></td>
                <td><%= s.qissues(0,0,s.id,0).count %></td>
                <td><%= s.openissues(0,0,s.id,0).count %></td>
                <td><%= s.resolvedissues(0,0,s.id,0).count %></td>
                <td><%= s.cancelledissues(0,0,s.id,0).count %></td>

              </tr>


          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>









  <div class="col-md-6">
  <div class="panel panel-default">

    <div class="panel-heading">Latest Issues</div>

    <div class="panel-body">



  <table class="table">
    <% @latestissues.each do |i| %>
        <tr>
          <td><%= i.created_at.strftime("%F") %></td>
          <td width="50%"><%= link_to i.name, i %></td>
          <td><%= i.structure.name  if i.structure_id %></td>
        </tr>
    <% end %>
  </table>




    </div></div>
</div>

 <div class="col-md-6">
    <div class="panel panel-default">

      <div class="panel-heading">Upcoming Meetings</div>

      <div class="panel-body">






</div></div>
 </div>


  <div class="col-md-6">
    <div class="panel panel-default">

      <div class="panel-heading">County Status (based on location of Issue)</div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <th>County</th>
            <th>District</th>
            <th>Issues</th>
            <th>Open</th>
            <th>Resolved</th>
            <th>Percent Resolved</th>
          </thead>


        </table>
      </div>
    </div>
  </div>






  <div class="col-md-6">
  <div class="panel panel-default">

    <div class="panel-heading">Import Issues from Google</div>

    <div class="panel-body">

  <%= form_tag uploadcsv_appissues_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
  <% end %>
</div>



</div>


</div>

</div>