<div class="container">



<br>


<div class="row">

  <div class="col-sm-12">

<div class="col-md-6">

  <div class="panel panel-default">

    <div class="panel-heading">Distirbution of Issues</div>

    <div class="panel-body">


  <%= render partial: 'cartodbimbed' %>



</div>
    </div>



</div>

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">Latest Issue Activity</div>

        <div class="panel-body">


<table class="table">
            <% @latestactivity.each do |act| %>
        <tr>
              <td><%= act.created_at.strftime("%F") %></td>

          <td>
            <%if act.comment? %>
                <%= link_to act.issue.issuecode, act.issue  %> Comment<br>
                <em><%= act.actionbody %></em>
            <% else %>
                <%= link_to act.issue.issuecode, act.issue  %>
            <%= act.actiondesc(act.actiontype) %><br>
                <% if !act.meeting_id.nil? %>
                    Meeting: <%= link_to act.meeting.meetingid, act.meeting %>
                <% end %>
                <% if !act.mediation_id.nil? %>
                    Mediation: <%= link_to act.mediation.mediationcode, act.mediation %>
                <% end %>
            <% end %>

          </td>

          <td>  <%= act.user.name if act.user_id %></td>




        </tr>
            <% end %>
          </table>




        </div>
    </div>


</div>






</div>

</div>






  <%= form_tag uploadcsv_appissues_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
  <% end %>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <%= link_to 'Format Issues', appissues_path %>