
<%= form_for(@issueaction, multipart: true, remote: false) do |f| %>
    <%= hidden_field(:issueaction, :issue_id, :value => @issue.id) %>
    <%= hidden_field(:issueaction, :structure_id, :value => @issue.structure_id) %>

    <%= hidden_field(:issueaction, :actiontype, :value => Actiontype::AGENDA) %>

      Add To Meeting Agenda
        <%= f.select :meeting_id, options_for_select(@mymeetings.collect{|m| [m.meetingid, m.id]}), {:include_blank => true,:class=>'user-id-widget', size: 5} %>

      </div>

    <div class="actions">
      <%= f.submit 'Submit', :class => "btn btn-small btn-primary" %>
    </div>
<% end %>