<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@issueaction, multipart: true, remote: false, html: {role: :form, 'data-model' => 'issueaction', id: 'new_note_form'}) do |f| %>

    <%= hidden_field(:issueaction, :issue_id, :value => @issue.id) %>
    <%= hidden_field(:issueaction, :structure_id, :value => @issue.structure_id) %>
    <%= hidden_field_tag(:fromissue, true) %>
    <%= hidden_field(:issueaction, :actiontype, :value => Actiontype::CANCELLED) %>

<%# Added Bootstrap classes, and help-block container for error messages %>
    <div class="field">
      <%= f.label 'Note:' %><br>
      This Note will be saved in the Issue history table.
      <%= f.text_area :actionbody,  cols: "120", rows: "12" %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', :class => "btn-small btn-primary" %>
    </div>
<% end %>