<div class="container">

  <div class="panel panel-default">

    <div class="panel-heading"><h2><%= @panelheader %></h2>
      <%if params[:action] == "edit" %><h2><strong><%= @issue.name %></strong></h2><% end %></div>

    <div class="panel-body">



      <%= form_for(@issue) do |f| %>
<div class="form-horizontal">
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :size => 100, :class => "form-control" %>

    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Community of Origin', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :community, :size => 100, :class => "form-control" %>

    </div>
  </div>



  <div class="form-group">
    <%= f.label 'District', :class => "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.grouped_collection_select :district_id, County.order(:name), :districts, :name, :id, :name, include_blank: true, :class => "form-control" %>
    </div>
  </div>



  <div class="form-group">
    <%= f.label 'Disputants', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :disputant, :size => 100, :class => "form-control" %>

    </div>
  </div>


  <div class="form-group">
    <%= f.label 'Raised by', :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:raised_by, Person.all, :id, :fullname, include_blank: true, :class => "form-control") %>

    </div>
    <div class="col-sm-6">
      <label><input type="checkbox" name="addraiser" id="addraiser" value="1"> Click to add new person to system</label><br>

      <div id="person_details" style="display:none;">
        <div class="field">
          <%= f.label "First Name" %><br>
          <input type="text" name="fname" />
        </div>
        <div class="field">
          <%= f.label "Last Name" %><br>
          <input type="text" name="lname" />
        </div>
        <div class="field">
          <%= f.label "Email" %><br>
          <input type="text" name="email" />
        </div>
        <div class="field">
          <%= f.label "Title" %><br>
          <input type="text" name="title" />
        </div>
      </div>



    </div>
  </div>






















  <div class="form-group">
    <%= f.label :category_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: true, :class => "form-control") %>

    </div>
  </div>



  <div class="form-group">
    <%= f.label :description, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, :id => "descedit", :cols => "100", :rows => "8" %>

    </div>
  </div>




  <div class="form-group">
    <%= f.label :structure_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% if params[:structure_id] %>
          <%= f.hidden_field :structure_id, :value => params[:structure_id] %>
          <%= @issue.structure.name %>
      <% else %>
          <%= f.collection_select(:structure_id, Structure.all, :id, :name, include_blank: true, :class => "form-control") %>
      <% end %>
     </div>
  </div>






    <div class="form-group">
      <%= f.label :status_note, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :status_note, :id => "descedit", :cols => "100", :rows => "5" %>

      </div>
    </div>

    <div class="form-group">
      <%= f.label :actionplan, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :actionplan, :id => "descedit", :cols => "100", :rows => "5" %>

      </div>
    </div>

  <div class="form-group">
    <%= f.label 'Action Plan Committee', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :actioncommittee, :id => "descedit", :cols => "100", :rows => "5" %>

    </div>
  </div>
    <div class="form-group">
      <div class = "col-sm-2 control-label"></div>
      <div class="col-sm-10">
        <%= f.submit :class => "btn btn-primary" %>

      </div>
    </div>

</div>
<% end %>
    </div>

  </div>
</div>



<script type="text/javascript">
  var checkbox = document.getElementById('addraiser');
  var details_div = document.getElementById('person_details');
  checkbox.onchange = function() {
    if(this.checked) {
      details_div.style['display'] = 'block';
    } else {
      details_div.style['display'] = 'none';
    }
  };
</script>


