
<% @project=Project.find(1) %>
<% content_for(:body_attributes) do %>
    data-no-turbolink="true"
<% end %>

<style>
    .popover-title{
        background: #80ffdf;
       font-weight: bold;
    }
    .popover{
        background: #80ffdf;
        border: solid 1px #000000;
    }
    .popover-content{
        background: #80ffdf;

    }
</style>




<div class="container">

  <div class="panel panel-info">

    <div class="panel-heading"><h2><%= @panelheader %></h2>
      <%if params[:action] == "edit" %><h2><strong><%= @issue.name %></strong></h2><% end %></div>

    <div class="panel-body">

      <%= simple_form_for (@issue), :data => {:parsley_validate => "", :novalidate => ""}  do |f| %>

<div class="form-horizontal">


 <!--- <% if @issue.errors.any? %>




    <div id="error_explanation" role="alert" class="alert alert-danger">
      <strong><%#= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</strong><br>

      <ul>
      <%# @issue.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <% end %>--->


  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_name') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_name') %>">Info?</a>
    <%= f.label 'Issue Name *', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :name, label: false, :class => "form-control", :required => 'required', input_html: {:style => 'width: 75%'} %>

    </div>
  </div>


  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_structure') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_structure') %>">Info?</a>
    <%= f.label 'MLDL Structure *', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.select :category_id, Category.all, {}, {class: 'form-control', required: true } %>
      <%= f.association :structure, include_blank: true, label: false, :class => "form-control", input_html: {:style => 'width: 40%'} %>
      <%#= f.collection_select(:category_id, Category.all, :id, :name, {}, {required: true, include_blank: true } ) %>

    </div>
  </div>



  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_community') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_community') %>">Info?</a>
    <%= f.label 'Community of Origin *', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :community, label: false, :class => "form-control", :required => 'required', input_html: {:style => 'width: 40%'}  %>

    </div>
  </div>


  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_district') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_district') %>">Info?</a>
    <%= f.label 'District Location of Issue *', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.association :district,  label: false, :class => "form-control", required: true, input_html: {:style => 'width: 40%'}%>
    </div>
  </div>


  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_disputantstext') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_disputantstext') %>">Info?</a>

    <%= f.label 'Disputants', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :disputant, label: false, :size => 100, :class => "form-control", input_html: {:style => 'width: 80%'} %>

    </div>
  </div>




  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_raisedby') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_raisedby') %>">Info?</a>

    <%= f.label 'Raised by', :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%#= f.collection_select(:raised_by, Person.all, :id, :fullname, include_blank: true, :class => "form-control") %>
      <%#= f.association :person, label_method: :fullname, value_method: :id, include_blank: true, label: false, :class => "form-control" %>
      <select name="issue[raised_by]" class="chosen-select">
        <option value = "">Select -></option>
        <% Person.all.each do |p| %>

            <option value="<%= p.id %>"><%= p.fullname %></option>
        <% end %>
      </select>
    </div>
    <div class="col-sm-6">
      <label><input type="checkbox" name="addraiser" id="addraiser" value="1"> Click to add new person to system</label><br>

      <div id="person_details" style="display:none;">
        <div class="field">
          <%= f.label "First Name" %><br>
          <input type="text" name="fname" />
        </div>
        <div class="field">
          <%= f.label "Last Name" %><br>
          <input type="text" name="lname" />
        </div>
        <div class="field">
          <%= f.label "Email" %><br>
          <input type="text" name="email" />
        </div>
        <div class="field">
          <%= f.label "Title" %><br>
          <input type="text" name="title" />
        </div>
      </div>



    </div>
  </div>





  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_origin') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_origin') %>">Info?</a>
    <%= f.label 'Issue Origin', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.select :category_id, Category.all, {}, {class: 'form-control', required: true } %>
      <%#= f.collection_select(:scope_id, Scope.all, :id, :name, {}, {required: true, include_blank: true } ) %>
      <%= f.association :scope, include_blank: true, label: false, :class => "form-control", input_html: {:style => 'width: 40%'} %>
    </div>
  </div>

  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_origintext') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_origintext') %>">Info?</a>
    <%= f.label 'Origin Note', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :originnote, :id => "descedit",  label: false, :input_html => { :cols => 80, :rows => 3 } %>

    </div>
  </div>




  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_category') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_category') %>">Info?</a>
    <%= f.label :category_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.select :category_id, Category.all, {}, {class: 'form-control', required: true } %>
      <%= f.association :category, include_blank: true, label: false, :class => "form-control", input_html: {:style => 'width: 40%'} %>

  </div>

  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_othercategory') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_othercategory') %>">Info?</a>
    <%= f.label 'Category (if other)', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :other_category,  label: false, :input_html => { :width => 80} %>

    </div>

  </div>





  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_description') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_description') %>">Info?</a>

    <%= f.label :description, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :description, :id => "descedit",  label: false, :input_html => { :cols => 80, :rows => 8 } %>

    </div>
  </div>






    <div class="form-group">
      <a href="#" title="<%= @project.infopoptitle('issue_actionplan') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_actionplan') %>">Info?</a>
      <%= f.label :actionplan, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.input :actionplan, :id => "descedit",  label: false, :input_html => { :cols => 80, :rows => 8 } %>

      </div>
    </div>

  <div class="form-group">
    <a href="#" title="<%= @project.infopoptitle('issue_committee') %>" data-toggle="popover" data-trigger="hover" data-content="<%= @project.infopopbody('issue_committee') %>">Info?</a>
    <%= f.label 'Action Plan Committee', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :actioncommittee, :id => "descedit",  label: false, :input_html => { :cols => 80, :rows => 8 } %>

    </div>
  </div>





    <div class="form-group">
      <div class = "col-sm-2 control-label"></div>
      <div class="col-sm-10">
        <%= f.submit :class => "btn btn-primary" %>

      </div>
    </div>

</div>
<% end %>
    </div>

  </div>
</div>
</div>

<script>

    ready = function(){
        $('[data-toggle="popover"]').popover();
        $('form#my-form').on("submit", function(e) {
            return $(this).parsley().validate();
        });

        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }






    };
    $(document).ready(ready);
    $(document).on('page:load', ready);

</script>



<script type="text/javascript">



    var checkbox = document.getElementById('addraiser');
    var details_div = document.getElementById('person_details');
    checkbox.onchange = function() {
        if(this.checked) {
            details_div.style['display'] = 'block';
        } else {
            details_div.style['display'] = 'none';
        }
    };
</script>