

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Issues</h3>
  </div>



  <div class="panel-body">



  <table id="issuestable"  class="table table-striped table-hover" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>ID</th>

    <th>Status</th>
    <th>Name</th>
    <% if @structure.nil? %><th>Structure</th> <% end %>
    <th>Category</th>

    <th>District</th>
    <th>Disputants</th>
    <th>Created</th>


  </tr>
  </thead>

  <tbody>
  <% @issues.each do |issue| %>
  <% mydisputants = Disputant.where(:issue_id => issue.id) %>
      <tr>
        <td><%= link_to issue.issuecode, issue %></td>

        <td><strong><%= issue.status_humanize %></strong></td>
        <td><%= issue.name %></td>
        <% if @structure.nil? %><td><%= issue.structure.name  if issue.structure_id %></td><% end %>
        <td><%= issue.category.name if issue.category_id %></td>
        <td><%#= issue.district.name if issue.district_id.blank %></td>
        <td><%= issue.disputant %><br>

        <small>People</small><br>
          <% mydisputants.each do |d| %>
          <%= d.person.fullname %><br>
          <% end %>

        </td>
        <td><%= issue.created_at.strftime("%m/  %d/%Y") %></td>


      </tr>
  <% end %>
  </tbody>
</table>



  </div>
</div>





<script>
  $(document).ready(function() {
    $('#issuestable').DataTable();
  } );
</script>


