

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Issues</h3>
  </div>



  <div class="panel-body">



  <table id="issuestable"  class="table table-striped table-hover">
  <thead>
  <tr>
    <th width="60px">ID</th>

    <th>Status</th>
    <th>Name</th>
     <th>Category</th>

    <th>District</th>
    <th>Disputants</th>
    <th>Created</th>


  </tr>
  </thead>
  <tbody>
  <% @issues.each do |issue| %>
  <% statusbox1 = 'btn btn-'+issue.issuestatus(issue.status) %>
  <% mydisputants = Disputant.where(:issue_id => issue.id) %>
      <tr>
        <td><%= link_to issue.issuecode, issue %></td>

        <td><button class="tabstatusbox <%= statusbox1 %>"><%= issue.status_humanize %></button></td>
        <td><%= issue.name %></td>

        <td><%= issue.category.name if issue.category_id %></td>
        <td><%#= issue.district.name if issue.district_id.blank %></td>
        <td><%= issue.disputant %><br>


          <% mydisputants.each do |d| %>
          <%= d.person.fullname %><br>
          <% end %>

        </td>
        <td><%= issue.created_at.strftime("%m/  %d/%Y") %></td>


      </tr>
  <% end %>
  </tbody>
</table>



  </div>
</div>





<script>
  $('#issuestable').dataTable({
    'paging':   true,  // Table pagination
    'ordering': true,  // Column ordering
    'info':     true,  // Bottom left status text
// Text translation options
// Note the required keywords between underscores (e.g _MENU_)
    oLanguage: {
      sSearch:      'Search all columns:',
      sLengthMenu:  '_MENU_ records per page',
      info:         'Showing page _PAGE_ of _PAGES_',
      zeroRecords:  'Nothing found - sorry',
      infoEmpty:    'No records available',
      infoFiltered: '(filtered from _MAX_ total records)'
    }
  });
</script>


