<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@mediation) do |f| %>
    <%= hidden_field_tag(:issue_id, @issue.id) %>
    <%= hidden_field_tag(:fromissue, true) %>
    <%= hidden_field_tag(:actiontype,  Actiontype::MEDIATION) %>



    <div class="form-group">
      <label class="string optional col-sm-2 control-label" for="mediation_Mediation Start">Med start</label>
      <div class='col-sm-1 input-group date' id='mediationstart'>
        <div class="input datetime_picker optional mediation_mediation_start">
          <div class="input-group date datetimepicker">
            <input class="string datetime_picker optional  " type="text" data-date-options="{&quot;locale&quot;:&quot;en&quot;,&quot;format&quot;:&quot;DD/MM/YYYY HH:mm&quot;,&quot;dayViewHeaderFormat&quot;:&quot;MMMM YYYY&quot;}" name="mediation[mediation_start]" id="mediation_mediation_start" />
            <span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button></span></div></div>

      </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#mediationstart').datetimepicker();
        });
    </script>




<%# Added Bootstrap classes, and help-block container for error messages %>
    <div class="field">
      <%= f.label 'Note:' %><br>

      <%= f.text_area :mediation_notes,  cols: "200", rows: "12" %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', :class => "btn-small btn-primary" %>
    </div>
<% end %>