<% modal ||= false %>
<% remote = modal ? true : false %>
<%= simple_form_for(@issueaction) do |f| %>
    <%= hidden_field(:issueaction, :issue_id, :value => @issue.id) %>
    <%= hidden_field_tag(:fromissue, true) %>
    <%= hidden_field(:issueaction, :actiontype,  :value => Actiontype::MEDIATION) %>


    <div class="field">

    <%= f.label 'Note:' %><br>
    <%= f.input :actionbody, cols: "120", rows: "12" %>
    </div>



    <div class="form-group">
      <%= f.label 'Resolution Date', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10" id="sandbox-container">
        <div class="input-group date">
          <input  name="mediate_start" type="text" id="datepicker-mediatestart" class="form-control" width="100">
          <%# f.input :mediation_start, :class => "form-control", :width => "80" %>
        </div>

      </div>

    </div>

    <div class="actions">
      <%= f.submit 'Submit', :class => "btn-small btn-primary" %>
    </div>
<% end %>

<script>
    $('#datepicker-mediatestart').Zebra_DatePicker();

</script>