<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@issueaction, multipart: true, remote: false, html: {role: :form, 'data-model' => 'issueaction', id: 'new_note_form'}) do |f| %>
    <% if @issueaction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% @issue.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= hidden_field(:issueaction, :issue_id, :value => @issue.id) %>
    <%= hidden_field_tag(:fromissue, true) %>
    <%= hidden_field(:issueaction, :actiontype, :value =>  Actiontype::RESOLVED) %>


<%# Added Bootstrap classes, and help-block container for error messages %>


    <div class="form-group">
      <%= f.label 'Resolution Date', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10" id="sandbox-container">
        <div class="input-group date">
          <input  name="resolution_date" type="text" id="datepicker-resolvedate" class="form-control" width="80">
          <%# f.input :mediation_start, :class => "form-control", :width => "80" %>
        </div>

      </div>

    </div>

<br><br>

    <div class="form-group">
      <%= f.label :resolutiontype, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">

        <%= f.collection_select(:resolutiontype_id, Resolutiontype.all, :id, :name, include_blank: true, :class => "form-control") %>

      </div>
    </div>

    <div class="field">
      <%= f.label 'Note:' %><br>
      This Note will be saved in the Issue history table.
      <%= f.text_area :actionbody,  cols: "120", rows: "2" %>
    </div>





    <div class="form-group">
      <%= f.label :resolution, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :resolution, :id => "descedit", :cols => "100", :rows => "5" %>

      </div>
    </div>






    <div class="actions">
      <%= f.submit 'Submit', :class => "btn-small btn-primary" %>
    </div>
<% end %>

<script>
    $('#datepicker-resolvedate').Zebra_DatePicker();

</script>