<style>
    .chkpanel {
        font-size: 14px;
        font-weight: normal;


    }



</style>
<script>
   /* $(document).ready(function() { $("#issuedisputants").select2(); });*/
</script>






<div class="container">


<h2>Search Issues</h2>

  <%= form_tag issueresults_path, :method => :get do %>

  <div class="row">

    <div class = "col-sm-4">
      <h4>MLDL Structures</h4>
      <div class="chkpanel">

        <% @allstructures.each do |item| %>


            <% if item.structuretype == Structuretype::NSC %>
                <strong>  <%= check_box_tag "structure_ids[]", item.id %><%= item.name %><br><br></strong>
            <% elsif item.structuretype ==  Structuretype::CSC %>
                <strong>  <%= check_box_tag "structure_ids[]", item.id %><%= item.name %><br></strong>
            <% elsif item.structuretype ==  Structuretype::DSC  %>

                &nbsp;&nbsp;&nbsp;&nbsp;  <%= check_box_tag "structure_ids[]", item.id %><%= item.name %><br>
            <% elsif item.structuretype ==  Structuretype::CF  %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>  <%= check_box_tag "structure_ids[]", item.id %><%= item.name %><br></em>
            <% end %>


        <% end %>
      </div>

    </div>



    <div class = "col-sm-4">

      <h4>Search String</h4>
      <div class="field">
            <%= text_field_tag 'search_term' %><br>
                <small>Community names, Issue names descriptions, Action comments, resolutions</small>
      </div>

      <div class="field">

          <h4>Issue Status</h4>
          <select name="status" class = "form-control">
            <option value="1">New</option>
            <option value="2" selected="selected">Ongoing</option>
            <option value="3">Resolved</option>
            <option value="4">Mediation</option>
            <option value="5">Cancelled</option>
          </select>
      </div>


      <div class="field">
        <h4>Categories</h4>
        <%= select_tag "category_ids", options_from_collection_for_select(Category.all, "id", "name"), :include_blank => "Select", :multiple => true  %>
      </div>


      <div class="field">
        <h4>Districts <small>(where Issue Occured)</small></h4>
        <%= select_tag "district_ids", options_from_collection_for_select(District.all, "id", "name"), :include_blank => "Select", :multiple => true  %>
      </div>

    </div>



    <div class="col-sm-4">



      <div class="field">
        <h4>Select/Search Old Issue Ids</h4><br>
        <small>Note: Hypens removed to allow select search</small>
        <select name="old_id" class="chosen-select">
          <option value = "">Select -></option>
          <% @alloldids.each do |issue| %>

              <option value="<%= issue.id %>"><%= issue.uuid.tr("-", " ") %></option>
          <% end %>
        </select>



      </div>

      <div class="field">



        <h4>Select/Search New Issue IDs</h4><br>
        <small>Note: Hypens removed to allow select search</small>
        <select name="new_id" class="chosen-select">
          <option value = "">Select -></option>
          <% @allnewids.each do |issue2| %>

              <option value="<%= issue2.id %>"><%= issue2.issuecode.tr("-"," ") %></option>
          <% end %>
        </select>
  </div>



      <br><br>


      <div class="field">



        <h4>Select/Search Disputants</h4><br>
        <select name="person_id" class="chosen-select input-md form-control">
          <option value = "">Select -></option>
          <% @alldisputants.each do |disp| %>

              <option value="<%= disp.person_id %>"><%= disp.person.fullname %></option>
          <% end %>
        </select>
      </div>


      <div class="actions">
        <%= submit_tag 'Search', :class => "btn btn-primary" %>
      </div>
      <br><BR>    <div class="actions">
      <%= button_tag "Reset", type: :reset, :class => 'btn btn-default' %>
    </div>
    </div>



</div>
  <% end %>
</div>


