<style>
  p {
      font-size: 12px;
  }
  table {
      font-size: 12px;
  }
  .isection {
      background-color: #999;
      color: #fff;
      font-size: 12px;
  }

 table.pdfgen {
     width: 100%;
 }

  table.pdfbox {
      border-collapse: collapse;
      width: 100%;
  }


  .tdpdf {
         border: solid #666 1px;   
            
        }



</style>
<% statusbox1 = 'btn btn-'+@issue.issuestatus(@issue.status) %>




<div>
<div class="row">
  <div class="col-md-6">
    <span style="font-size: 24px; font-weight: bold; color: coral;">MLDL2</span><br>
    <span style="font-size: 16px">Mitigating Local Disputes in Liberia, Phase II</span><br>
    Report Date: <%= Date.today() %>
    </div>
  <div style="text-align: right;" class="col-md-6">

      <span style="color: #666; font-size: 32px"><%= @issue.issuecode %></span><br>
    Status: <%= @issue.status_humanize %></div>

</div>







  </div>






</div>
<div style="border: #666 solid 1px">
     <span style="color: #999"></span><%= @issue.name %><br>
  <p><%= @issue.description %></p>
  </h3>




</div>
<div>
  <table class="pdfgen">
    <tr>
      <td>Disputant: <strong><%= @issue.disputant %></strong></td>
      <td>Raised By: <strong><%= @issue.person.fullname if @issue.raised_by  %></strong></td>
      <td>Scope: <strong><%= @issue.scope.name if @issue.scope_id %></strong></td>

    </tr>

    <tr>
      <td>Category: <strong><%= @issue.category.name if @issue.category_id %></strong></td>
      <td>Structure: <strong><%#= @issue.structure.name %></strong></td>
      <td>District: <strong><%= @issue.district.name if @issue.district_id %></strong></td>

    </tr>


    <tr>
      <td>Community: <strong><%= @issue.community %></strong></td>
      <td><br><strong></strong></td>
      <td><br><strong></strong></td>

    </tr>
















  </table>
</div>

  <div class="isection"> Action History</div>
  <div style="border: #666 solid 1px">

    <table class="pdfbox" width="100%">
      <tr>
        <th>Action Date</th>
        <th>Action</th>
        <th>User</th>

        <th>Description</th>
      </tr>



      <% if @myactions.any? %>
          <% @myactions.each do |action| %>

              <tr>
                <td class="tdpdf"><%= action.created_at.strftime("%m/%d/%Y") if action.created_at %></td>
                <td class="tdpdf"><%= action.actiontype_humanize if action.actiontype %></td>
                <td class="tdpdf"><%= action.user.name if action.user_id %></td>
                <td class="tdpdf">

                  <% if action.actiontype == Actiontype::AGENDA %>
                      <% thismeeting= Meeting.find(action.meeting_id) %>
                      <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  if action.meeting_id %></strong>  <br>
                  <% end %>

                  <% if action.actiontype == Actiontype::ESCALATED or
                          action.actiontype == Actiontype::MEETING_RESULT_ESCALATED or
                          action.actiontype == Actiontype::MEDIATION_RESULT_ESCALATED %>
                      <% if action.laststructure_id %>

                          <% fromstructure= Structure.find(action.laststructure_id)  %>
                          <strong>Issue Escalated from : <%= link_to fromstructure.name, fromstructure  %></strong>  <br>
                      <% end %>
                  <% end %>

                  <% if action.actiontype == Actiontype::RESOLVED or
                          action.actiontype == Actiontype::MEETING_RESULT_RESOLVED or
                          action.actiontype == Actiontype::MEDIATION_RESULT_RESOLVED %>
                      <% if action.meeting_id %>
                          <% thismeeting= Meeting.find(action.meeting_id) %>
                          <strong>Resolved in Meeting!: </strong>  <br>
                          <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                      <% elsif action.mediation_id %>
                          <% thismediation= Mediation.find(action.mediation_id) %>
                          <strong>Resolved in Mediation!: </strong>  <br>
                          <strong>Mediation: <%= link_to thismediation.mediation_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                      <% else %>
                          <strong>Issue Resolved!: </strong>  <br>
                      <% end %>

                  <% end %>

                  <% if action.actiontype == Actiontype::CANCELLED or
                          action.actiontype == Actiontype::MEETING_RESULT_CANCELLED or
                          action.actiontype == Actiontype::MEDIATION_RESULT_CANCELLED %>

                      <% if action.meeting_id %>
                          <% thismeeting= Meeting.find(action.meeting_id) %>
                          <strong>Cancelled in Meeting!: </strong>  <br>
                          <strong>Meeting: <%= link_to thismeeting.real_start.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                      <% elsif action.mediation_id %>
                          <% thismediation= Mediation.find(action.mediation_id) %>
                          <strong>Cancelled in Mediation!: </strong>  <br>
                          <strong>Mediation: <%= link_to thismediation.mediation_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                      <% else %>
                          <strong>Issue Cancelled!: </strong>  <br>
                      <% end %>

                  <% end %>


                  <% if action.actiontype == Actiontype::ONGOING or
                          action.actiontype == Actiontype::MEETING_RESULT_ONGOING or
                          action.actiontype == Actiontype::MEDIATION_RESULT_ONGOING %>

                      <% if action.meeting_id %>
                          <% thismeeting= Meeting.find(action.meeting_id) %>
                          <strong>Unresolved in  Meeting!: </strong>  <br>
                          <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                      <% elsif action.mediation_id %>
                          <% thismediation= Mediation.find(action.mediation_id) %>
                          <strong>Unresolved in Mediation!: </strong>  <br>
                          <strong>Mediation: <%= link_to thismediation.mediation_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                      <% else %>

                      <% end %>

                  <% end %>



                  <% if action.actiontype == Actiontype::MEDIATION or
                          action.actiontype == Actiontype::MEETING_RESULT_MEDIATION %>

                      <% if action.meeting_id %>
                          <% thismeeting= Meeting.find(action.meeting_id) %>
                          <strong>Sent to Mediation from Meeting!: </strong>  <br>
                          <strong>Meeting: <%= link_to thismeeting.meetingid, thismeeting  %></strong>  <br>
                      <% else %>
                          <strong>Issue Sent to Mediation!: </strong>  <br>
                      <% end %>

                  <% end %>



                  <% if action.actiontype == Actiontype::REOPENED %>
                      <% if action.mediation_id %>
                          <% thismediation = Mediation.find(action.mediation_id) %>
                          <strong>Issue Reopened from Mediation!: </strong>  <br>
                          <strong>Mediation: <%= link_to thismediation.mediationcode, thismediation  %></strong>  <br>
                      <% else %>
                          <strong>Issue Reopened!: </strong>  <br>
                      <% end %>
                  <% end %>


                  <%# if action.actiontype == Actiontype::COMMENT %>
                  <!-- <strong>Comment: </strong>  <br>-->
                  <%# end %>

                  <% if action.actiontype == Actiontype::CREATED %>
                      <strong>Created</strong>  <br>
                  <% end %>








                  <%= action.actionbody %></td>

              </tr>



          <% end %>
      <% end %>








    </table>


  </div>

<div class="isection"> Disputant Records</div>

<div>

  <table class="pdfbox">
    <thead>
    <th>Name</th>
    <th>Title</th>
    <th>Organization</th>

    </thead>
    <tbody>
    <% @mydisputants.each do |p| %>
        <tr>
          <td class="tdpdf">  <%= link_to p.person.fullname, p.person %> </td>
          <td class="tdpdf"><%= p.person.title %></td>
          <td class="tdpdf"><%= p.person.email %></td>
          <td class="tdpdf"><%= p.person.phone %></td>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>



  <div class="isection"> Meeting Agendas</div>

  <div>

    <table id="" class="pdfbox">


      <thead>
      <tr>

        <th>Meeting</th>
        <th>Date</th>
        <th>Result</th>
        <th>Resolution Date</th>
        <th>Agenda note</th>
      </tr>
      </thead>

      <tbody>
      <% @myagendas.each do |agenda| %>
          <tr>

            <td class="tdpdf"><%= agenda.meeting.meetingid %></td>
            <td class="tdpdf"><%= agenda.meeting.meeting_on %></td>
            <td class="tdpdf"><%= agenda.result_humanize %></td>
            <td class="tdpdf"><%= agenda.issue.resolution_date if agenda.issue.resolution_date %></td>
            <td class="tdpdf"><%= agenda.agenda_note %></td>


          </tr>
      <% end %>
      </tbody>
    </table>



  </div>


  <div class="isection"> Mediations</div>

  <div>

    <table class="table table-striped">
      <tr>
        <th>Name/ID</th>
        <th>Medation Start</th>
        <th>Medation End</th>
        <th>Mediators</th>
      </tr>

      <% @mymediations.each do |med| %>

          <tr>
            <td><%= med.mediationcode %></td>
            <td><%= med.mediate_start.strftime("%m/%d/%Y") if med.mediate_start %></td>
            <td><%= med.mediate_end.strftime("%m/%d/%Y") if med.mediate_end %></td>
            <td></td>



          </tr>



      <% end %>

    </table>


  </div>






  <%= @issue.status_note %>



  </div>




</div>
