
<style>

  .modal-comment, .modal-escalate, .modal-resolve, .modal-mediation, .modal-cancel, .modal-reopen, .modal-agenda {
    width: 1200px;
  }

   .issuedesc {
       font-size: 18px;

   }
</style>

<% statusbox1 = 'btn btn-'+@issue.issuestatus(@issue.status) %>
<% if @issue.structure.structuretype != Structuretype::NSC %>
    <% parentstructure = Structure.find(@issue.structure.parent_id) %>

    <% parentlink = 'Refer Issue to ' + parentstructure.name %>
<% end %>
<div class="content-wrapper widerbox">
<div class="container">

      <%#= link_to 'Return to Issues', issues_path %><br>
  <button class="statusbox <%= statusbox1  %>"><%= @issue.status_humanize %></button>
  <% if @openagendas.count != 0 %>
  <% @openagendas.each do |ag| %>
      <button class="btn-agenda">On Agenda</button>
      <%= link_to ag.meeting.meetingid, ag.meeting %>

  <% end %>
      <% end %>
  <% if @openmediations.count != 0 %>
      <% @openmediations.each do |md| %>
          <%= link_to 'View Current Mediation', md %>

      <% end %>
  <% end %>
  <h3><span style="color: #999">Issue: </span><%= @issue.issuecode %>

        <span style="color: #999"></span><%= @issue.name %>
        </h3>


  <div class="row">

    <div class="col-sm-12">

      <div class="panel panel-info">
        <div class="panel-heading">


        </div>
        <div class="panel-body">
          <div class="issuedesc">
          <%= @issue.description %>
          </div>
          </div>
        </div>
      </div>


    <div class="col-sm-10">



      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#viewresolution">General</a></li>
        <li><a data-toggle="tab" href="#viewhistory">History<div class="pull-right label label-info"><%= @numberactions if @numberactions > 0 %></div></a></li>
        <li><a data-toggle="tab" href="#viewdisputants">Disputants<div class="pull-right label label-info"><%= @numberdisputants if @numberdisputants > 0 %></div></a></li>
        <li><a data-toggle="tab" href="#viewmeetings">Agendas<div class="pull-right label label-success"><%= @numberagendas if @numberagendas > 0 %></div></a></li>
        <li><a data-toggle="tab" href="#viewmediations">Mediations<div class="pull-right label label-success"><%= @numbermediations if @numbermediations > 0 %></div></a></li>

        <li><a data-toggle="tab" href="#viewdocuments">Documents</a></li>
        <% if !@issue.old_id.nil? %>
        <li><a data-toggle="tab" href="#viewolddata">Original Data</a></li>
                <% end %>
      </ul>

      <div class="tab-content">
        <div id="viewresolution" class="tab-pane fade in active">




          <div class="col-sm-6">

          <div class="panel panel-info">
            <div class="panel-heading">

              <% if @canedit %>
                  <% if @issue.status == Status::ONGOING or @issue.status == Status::NEW %>
                  <%= link_to 'Edit', edit_issue_path(@issue), :class => "btn btn-primary pull-right" %>
                  <% end %>
              <% end %>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">




                <div class="form-group">
                  <label class="col-sm-4">Disputants</label>
                  <div class="col-sm-8">
                    <%= @issue.disputant %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Structure Raised</label>
                  <div class="col-sm-8">
                    <%= @issue.raisedby_structure %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Raised by (Person)</label>
                  <div class="col-sm-8">
                    <%= link_to @issue.person.fullname, @issue.person if @issue.raised_by %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Issue Origin</label>
                  <div class="col-sm-8">
                    <%= @issue.scope.name if @issue.scope_id %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">Origin Note</label>
                  <div class="col-sm-8">
                    <%= @issue.originnote %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Category</label>
                  <div class="col-sm-8">
                    <%= @issue.category.name if !@issue.category_id.nil? %>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-4">Other Category</label>
                  <div class="col-sm-8">
                    <%= @issue.other_category %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Managing Council</label>
                  <div class="col-sm-8">
                    <%= link_to @issue.structure.name, @issue.structure %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">District Location of Issue:</label>
                  <div class="col-sm-8">
                    <%= @issue.district.name if !@issue.district_id.nil? %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">Community Origin</label>
                  <div class="col-sm-8">
                    <strong><%= @issue.community %></strong>
                  </div>
                </div>








                <% if @canedit %>


                    <%= link_to 'Delete', @issue, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
                <% end %>





              </div>
            </div>













          </div>


          </div>



          <div class="col-sm-6">


          <div class="panel panel-info">
            <div class="panel-heading">
              Action Plan and Committee
            </div>
            <div class="panel-body">

              <div class="form-horizontal">


                <div class="form-group">
                  <label class="col-sm-2">Action Plan</label>
                  <div class="col-sm-10">
                    <%= @issue.actionplan %>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2">Action Plan Committee</label>
                  <div class="col-sm-10">
                    <%= @issue.actioncommittee %>
                  </div>
                </div>




                <table class="table">
                  <thead>
                  <th>Name</th>
                  <th>Title</th>
                  <th>Email</th>
                  <th>Organization</th>

                  </thead>
                  <tbody>
                  <% @mycommitteemembers.each do |p| %>
                  <% membership = Membership.find(p.membership_id) %>
                      <tr>
                        <td>  <%= link_to membership.person.fullname, membership.person %> </td>
                        <td><%= membership.person.title %></td>
                        <td><%= membership.person.email %></td>
                        <td><%= membership.person.phone %></td>
                        <td><%= membership.person.organizatioin.name if membership.person.organization_id %></td>


                        <td>
                          <% if @canedit %>
                              <%= link_to deletecommitteemember_path(:committeemember_id => p.id),  data: { confirm: 'Are you sure you want to remove this Committee Member?' } do %><em class="fa fa-minus-circle"></em><% end %>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>

                  <% if @canedit %>
                      <hr>
                      <small>Link Structure Member to Committee</small><br>
                      <%= render 'addcommitteemember' %>
                  <% end %>





                                </div>
            </div>
          </div>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    Resolution
                  </div>
                  <div class="panel-body">

                    <div class="form-horizontal">


                <div class="form-group">
                  <label class="col-sm-2">Resolution Date:</label>
                  <div class="col-sm-10">
                    <%= @issue.resolution_date  %>
                  </div>
                </div>




                <div class="form-group">
                  <label class="col-sm-2">Resolution Type:</label>

                  <div class="col-sm-10">
                     <%= @issue.resolutiontype.name if @issue.resolutiontype_id && @issue.resolutiontype_id >= 1 %>
                  </div>
                </div>



                <div class="form-group">
                  <label class="col-sm-2">Resolution Description:</label>
                  <div class="col-sm-10">
                    <%= @issue.resolution  %>
                  </div>
                </div>


                  </div>





              </div>
            </div>


          </div>
            </div>





        <div id="viewhistory" class="tab-pane fade in ">



          <div class="panel panel-info">
            <div class="panel-heading">
              Issue History
            </div>
            <div class="panel-body">


              <table class="table table-striped">
                <tr>
                  <th>Action Date</th>
                  <th>Action</th>
                  <th>User</th>

                  <th>Description</th>
                </tr>



                <% if @myactions.any? %>
                    <% @myactions.each do |action| %>

                        <tr>
                          <td><%= action.created_at.strftime("%m/%d/%Y") if action.created_at %></td>
                          <td><%= action.actiontype_humanize if action.actiontype %></td>
                          <td><%= action.user.name if action.user_id %></td>
                          <td>

                            <% if action.actiontype == Actiontype::AGENDA %>
                                <% thismeeting= Meeting.find(action.meeting_id) %>
                                <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  if action.meeting_id %></strong>  <br>
                            <% end %>

                            <% if action.actiontype == Actiontype::ESCALATED or
                                    action.actiontype == Actiontype::MEETING_RESULT_ESCALATED or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_ESCALATED %>
                                <% if action.laststructure_id %>

                                    <% fromstructure= Structure.find(action.laststructure_id)  %>
                                    <strong>Issue Escalated from : <%= link_to fromstructure.name, fromstructure  %></strong>  <br>
                                <% end %>
                            <% end %>

                            <% if action.actiontype == Actiontype::RESOLVED or
                                    action.actiontype == Actiontype::MEETING_RESULT_RESOLVED or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_RESOLVED %>
                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Resolved in Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                                <% elsif action.mediation_id %>
                                    <% thismediation= Mediation.find(action.mediation_id) %>
                                    <strong>Resolved in Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediate_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                                <% else %>
                                    <strong>Issue Resolved!: </strong>  <br>
                                <% end %>

                            <% end %>

                            <% if action.actiontype == Actiontype::CANCELLED or
                                    action.actiontype == Actiontype::MEETING_RESULT_CANCELLED or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_CANCELLED %>

                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Cancelled in Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                                <% elsif action.mediation_id %>
                                    <% thismediation= Mediation.find(action.mediation_id) %>
                                    <strong>Cancelled in Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediate_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                                <% else %>
                                    <strong>Issue Cancelled!: </strong>  <br>
                                <% end %>

                            <% end %>


                            <% if action.actiontype == Actiontype::ONGOING or
                                    action.actiontype == Actiontype::MEETING_RESULT_ONGOING or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_ONGOING %>

                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Unresolved in  Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                                <% elsif action.mediation_id %>
                                    <% thismediation= Mediation.find(action.mediation_id) %>
                                    <strong>Unresolved in Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediate_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                                <% else %>

                                <% end %>

                            <% end %>



                            <% if action.actiontype == Actiontype::MEDIATION or
                                    action.actiontype == Actiontype::MEETING_RESULT_MEDIATION %>

                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Sent to Mediation from Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.meetingid, thismeeting  %></strong>  <br>
                                <% else %>
                                    <strong>Issue Sent to Mediation!: </strong>  <br>
                                <% end %>

                            <% end %>



                            <% if action.actiontype == Actiontype::REOPENED %>
                                <% if action.mediation_id %>
                                    <% thismediation = Mediation.find(action.mediation_id) %>
                                    <strong>Issue Reopened from Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediationcode, thismediation  %></strong>  <br>
                                    <% else %>
                                <strong>Issue Reopened!: </strong>  <br>
                            <% end %>
                                <% end %>


                            <%# if action.actiontype == Actiontype::COMMENT %>
                            <!-- <strong>Comment: </strong>  <br>-->
                            <%# end %>

                            <% if action.actiontype == Actiontype::CREATED %>
                                <strong>Created</strong>  <br>
                            <% end %>








                            <%= action.actionbody %></td>

                        </tr>



                    <% end %>
                <% end %>








              </table>






            </div>
          </div>







        </div>




        <div id="viewdisputants" class="tab-pane fade in">

          <div class="panel panel-info">
            <div class="panel-heading">
              Issue Disputants

              <%#= link_to 'Add Disputant', '#addDisputant', 'data-toggle' => 'modal', :class => "btn btn-success pull-right" %>
            </div>
            <div class="panel-body">

              <table class="table">
                <thead>
                <th>Name</th>
                <th>Title</th>
                <th>Email</th>
                <th>Organization</th>

                </thead>
                <tbody>
                <% @mydisputants.each do |p| %>
                    <tr>
                      <td>  <%= link_to p.person.fullname, p.person %> </td>
                      <td><%= p.person.title %></td>
                      <td><%= p.person.email %></td>
                      <td><%= p.person.phone %></td>
                      <td><%= p.person.organizatioin.name if p.person.organization_id %></td>


                      <td>
                        <% if @canedit %>
                        <%= link_to deletedisputant_path(:disputant_id => p.id),  data: { confirm: 'Are you sure you want to remove this Disputant?' } do %><em class="fa fa-minus-circle"></em><% end %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>



            <% if @canedit %>
            <hr>
            <small>Link Person to Issue</small><br>
            <%= render 'adddisputant' %>
           <% end %>


            </div>
          </div>
        </div>

        <div id="viewmediations" class="tab-pane fade in">



          <div class="panel panel-info">
            <div class="panel-heading">
                  Mediations

            </div>
            <div class="panel-body">


              <table class="table table-striped">
                <tr>
                  <th>Name/ID</th>
                  <th>Medation Start</th>
                  <th>Medation End</th>
                  <th>Mediators</th>
                </tr>

                <% @mymediations.each do |med| %>

                    <tr>
                      <td><%= link_to 'View', med %></td>
                      <td><%= med.mediate_start.strftime("%m/%d/%Y") if med.mediate_start %></td>
                      <td><%= med.mediate_end.strftime("%m/%d/%Y") if med.mediate_end %></td>
                      <td></td>



                    </tr>



                <% end %>

              </table>






            </div>
          </div>

        </div>


        <div id="viewmeetings" class="tab-pane fade in">



          <div class="panel panel-info">
            <div class="panel-heading">
               Meeting Agendas

            </div>
            <div class="panel-body">




              <%= render 'agendas/agendas_table' %>


            </div>
          </div>

        </div>





















        <div id="viewdocuments" class="tab-pane fade in">

          <div class="panel panel-info">
            <div class="panel-heading">
              Documents

            </div>
            <div class="panel-body">



              <table class="table">

                <% @issuedocs.each do |doc| %>
                    <tr>

                      <td>
                        <%= link_to doc.document_file_name , doc.document.url(:original, false) %>
                      </td>
                      <td>
                        <%= doc.document_updated_at %><br>
                      </td>
                    </tr>

                <% end %>
              </table>


              <br><BR>

              <% if @canedit %>
                  <%= simple_form_for @new_site_document do |form| %>
                      <%= form.hidden_field :documentable_id, :value => @issue.id %>
                      <%= form.hidden_field :documentable_type, :value => 'issue' %>
                      <%= form.input :document, as: :file, :label => false %>
                      <%= form.button :submit, :value => 'Upload Document', :class => "mb-sm btn btn-primary" %>
                  <% end %>
              <% end %>




         </div>
            </div>
          </div>


        <div id="viewolddata" class="tab-pane fade in">

                <%= render 'googledata' %>

          <%= debug @gapps %>
        </div>





      </div>
      </div>
      <div class="col-sm-2">


        <%= link_to 'Add Comment', '#comment_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>


        <% if @canedit %>
            <% if @issue.status == Status::RESOLVED or @issue.status == Status::CANCELLED %>
                <%= link_to 'Reopen Issue', '#reopen_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>
            <% else %>


                <% if @openmediations.count == 0 %>
                    <% if @openagendas.count == 0 %>

                    <%= form_for(@issueaction, multipart: true, remote: false) do |f| %>
                        <%= hidden_field(:issueaction, :issue_id, :value => @issue.id) %>
                        <%= hidden_field(:issueaction, :actiontype, :value => Actiontype::AGENDA) %>
                        <% if @openmeetings.count != 0 %>
                        Add To Meeting Agenda<br>
                        <%= f.select :meeting_id, options_for_select(@openmeetings.collect{|m| [m.meetingid, m.id]}), {:include_blank => true,:class=>'user-id-widget', size: 5} %>


                        <%= f.submit 'Submit', :class => "btn btn-small btn-primary" %>
                        <% else %>
                            No Open Meetings to Add to Agenda
                                <%= link_to "Create Meeting", new_meeting_path(:structure_id => @issue.structure.id), :class => "btn btn-success" %>
                            <% end %>


                    <% end %>
                     <br><Br>


                        <% if @issue.status != Status::MEDIATION %>



                            <%= link_to parentlink, '#escalate_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>
                            <% if @issue.openmediation != 0 %>
                                <button class="btn btn-defaut">Open mediation in progress</button>
                            <% else %>
                                <%= link_to 'Mediation', '#mediation_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>
                                <%#= link_to 'Create Mediation', new_mediation_path(:issue_id => @issue.id), :class => "btn btn-success"  %>
                            <% end %>

                        <% end %>
                        <% if @issue.status == Status::ONGOING %>
                            <%#= link_to 'Resolution', new_issueaction_path(:issue_id => @issue.id, :actiontype_id => 1), :class => "btn btn-success" %><br><br>

                            <%#= link_to 'Resolution', resolution_path(:issue_id => @issue.id), :class => "btn btn-success" %><br><br>

                            <%= link_to 'Resolution', '#resolution_modal', 'data-toggle' => 'modal', :class => "btn btn-inverse" %><br><br>
                            <%= link_to 'Cancel Issue', '#cancel_modal', 'data-toggle' => 'modal', :class => "btn btn-danger" %><br><br>
                        <% end %>






      <% end %>
                    <% end %>










      <% end %>
        <% end %>

        <%= link_to 'Download Issue PDF', issue_path(@issue, :format => "pdf"), :target => "_blank", :class => "btn btn-default" %><br><br>
</div>



</div>
</div>
</div>





<div class="modal fade" id="reopen_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-reopen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Reopen Issue (change to "ongoing" status)</h4>
        <h3 class="modal-title" id="myModalLabel"><%= @issue.name %></h3>
      </div>
      <div class="modal-body">
        <%= render 'reopen', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-cancel">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cancel Issue </h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Alert: After cancellation, only system administrator can "reopen" this Issue.
      </div>
      <div class="modal-body">
        <%= render 'cancellation', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




<div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-comment">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Record general update / comment </h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>

      </div>
      <div class="modal-body">
        <%= render 'addnote', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="mediation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-mediation">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <small>Move this Issue to Mediation</small><br>
        <h4 class="modal-title" id="myModalLabel"><%= @issue.name %></h4>
      </div>
      <div class="modal-body">
        <%= render 'mediation', modal: true %>







      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="escalate_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-escalate">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="myModalLabel"><%= parentlink %> (Ad-Hoc)</h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Alert: This referral will not be referenced to a Meeting or Mediation result.
      </div>
      <div class="modal-body">
        <%= render 'escalate', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="resolution_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-resolve">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Issue Resolution (Ad-Hoc)</h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Alert: This resolution will not be referenced to any Meeting or Mediation.
      </div>
      <div class="modal-body">
        <%= render 'resolution', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>






<div class="modal fade" id="new_agenda_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-agenda">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Issue to Meeting Agenda</h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Note: A meeting selection is required. Only meetings sponsored by the Issue's Structure (CF, DSC, CSC) are available.
      </div>
      <div class="modal-body">
        <%= render 'addagenda', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<div id="registerreg" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register...</h4>
      </div>
      <div class="modal-body">

        <form action="" method="POST" name="registration_form" id="registration_form" class="margin-bottom-0">

          <div class="form-group">
            <label>First Name:</label>
            <input type="text" id="first" name="first" class="form-control input-lg" placeholder="First Name" required />
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" id="last" name="last" class="form-control input-lg" placeholder="Last Name" required />
          </div>



          <div class="field">

            <label><input type="checkbox" name="testchk" id="testchk" value="1">   <small>Or click here to add new person to MLDL</small></label><br>

          </div>
          <div id="check_details" style="display:none;">

          this is the hideen part


          </div>




          <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control input-lg" placeholder="Email Address" id="emailreg" name="emailreg" onkeyup="checkvalid()" data-parsley-trigger="change" required />
            <div id="emailwarning" style="color:red;"></div>
          </div>
          <div class="form-group">
            <label>Password: (At least 6 charactors with 1 number)</label>
            <input type="password" id="passwordreg" name="passwordreg" class="form-control input-lg" placeholder="Password" data-parsley-minlength="6" data-parsley-pattern="/^[a-zA-Z0-9., ]*[0-9]+[a-zA-Z0-9., ]*$/" title="Passwords must be at least 6 characters long, contain at least one uppercase letter (A..Z), at least one lower case letter (a..z), and at least one number (0..9)"/>
          </div>
          <div class="form-group">
            <label>Repeat Password:</label>
            <input type="password"  name="confirmpwd"  id="confirmpwd" class="form-control input-lg" placeholder="Repeat Password" data-parsley-equalto="#passwordreg" data-parsley-error-message="The entered text does not match the password field."/>
          </div>


          <div class="form-group">
            <%#= f.label 'Mediation Start', :class => "col-sm-2 control-label" %>
            <div class="col-sm-10" id="sandbox-container">
              <div class="input-group date">

                <input  name="mediate_start" type="text" id="mediatestart" required >
                <%# f.input :mediation_start, :class => "form-control", :width => "80" %>
              </div>

            </div>







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" id="registerbutton" class="btn btn-primary" onclick="return regformhash(this.form, this.form.passwordreg);" value="Register" >
      </div>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
    $('#registration_form').parsley();

    var checkbox = document.getElementById('testchk');
    var details_div = document.getElementById('check_details');
    checkbox.onchange = function() {
        if(this.checked) {
            details_div.style['display'] = 'block';
        } else {
            details_div.style['display'] = 'none';
        }
    };
</script>






<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })

    $('#new_loc_form').on('submit', function() {
        $('#new_location_model').modal('hide');
    })

    $('#new_agenda_form').on('submit', function() {
        $('#new_agenda_model').modal('hide');
    })

    $('#new_report_form').on('submit', function() {
        $('#new_report_model').modal('hide');

    $('#new_comment_form').on('submit', function() {
        $('#new_report_model').modal('hide');
    })


</script>