
<style>

  .modal-comment, .modal-escalate, .modal-resolve, .modal-mediation, .modal-cancel, .modal-reopen, .modal-agenda {
    width: 800px;
  }


</style>

<% statusbox1 = 'btn btn-'+@issue.issuestatus(@issue.status) %>
<% if @issue.structure.structuretype != Structuretype::NSC %>
    <% parentstructure = Structure.find(@issue.structure.parent_id) %>

    <% parentlink = 'Refer Issue to ' + parentstructure.name %>
<% end %>
<div class="content-wrapper widerbox">
<div class="container">

      <%#= link_to 'Return to Issues', issues_path %><br>
  <button class="statusbox <%= statusbox1  %>"><%= @issue.status_humanize %></button>
  <% if @openagendas.count != 0 %>
  <% @openagendas.each do |ag| %>
      <button class="btn-agenda">On Agenda</button>
      <%= link_to ag.meeting.meetingid, ag.meeting %>

  <% end %>
      <% end %>
  <% if @openmediations.count != 0 %>
      <% @openmediations.each do |md| %>
          <%= link_to 'View Current Mediation', md %>

      <% end %>
  <% end %>
  <h3><span style="color: #999">Issue: </span><%= @issue.issuecode %>

        <span style="color: #999"></span><%= @issue.name %>
        </h3>


  <div class="row">

    <div class="col-sm-12">

      <div class="panel panel-info">
        <div class="panel-heading">


        </div>
        <div class="panel-body">
          <%= @issue.description %>
          </div>
        </div>
      </div>


    <div class="col-sm-10">



      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#viewresolution">General</a></li>
        <li><a data-toggle="tab" href="#viewhistory">History<div class="pull-right label label-info"><%= @numberactions if @numberactions > 0 %></div></a></li>
        <li><a data-toggle="tab" href="#viewdisputants">Disputants<div class="pull-right label label-info"><%= @numberdisputants if @numberdisputants > 0 %></div></a></li>
        <li><a data-toggle="tab" href="#viewmeetings">Agendas<div class="pull-right label label-success"><%= @numberagendas if @numberagendas > 0 %></div></a></li>
        <li><a data-toggle="tab" href="#viewmediations">Mediations<div class="pull-right label label-success"><%= @numbermediations if @numbermediations > 0 %></div></a></li>

        <li><a data-toggle="tab" href="#viewdocuments">Documents</a></li>
        <% if !@issue.old_id.nil? %>
        <li><a data-toggle="tab" href="#viewolddata">Original Data</a></li>
                <% end %>
      </ul>

      <div class="tab-content">
        <div id="viewresolution" class="tab-pane fade in active">




          <div class="col-sm-6">

          <div class="panel panel-info">
            <div class="panel-heading">

              <% if @canedit %>
                  <%= link_to 'Edit', edit_issue_path(@issue), :class => "btn btn-primary pull-right" %>
              <% end %>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">




                <div class="form-group">
                  <label class="col-sm-4">Disputants</label>
                  <div class="col-sm-8">
                    <%= @issue.disputant %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Structure Raised</label>
                  <div class="col-sm-8">
                    <%= @issue.raisedby_structure %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Raised by (Person)</label>
                  <div class="col-sm-8">
                    <%= link_to @issue.person.fullname, @issue.person if @issue.raised_by %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Issue Origin</label>
                  <div class="col-sm-8">
                    <%= @issue.scope.name if @issue.scope_id %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">Origin Note</label>
                  <div class="col-sm-8">
                    <%= @issue.originnote %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Category</label>
                  <div class="col-sm-8">
                    <%= @issue.category.name if !@issue.category_id.nil? %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">Managing Council</label>
                  <div class="col-sm-8">
                    <%= link_to @issue.structure.name, @issue.structure %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4">District Location of Issue:</label>
                  <div class="col-sm-8">
                    <%= @issue.district.name if !@issue.district_id.nil? %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">Community Origin</label>
                  <div class="col-sm-8">
                    <strong><%= @issue.community %></strong>
                  </div>
                </div>








                <% if @canedit %>


                    <%= link_to 'Delete', @issue, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
                <% end %>





              </div>
            </div>













          </div>


          </div>



          <div class="col-sm-6">


          <div class="panel panel-info">
            <div class="panel-heading">
              Action Plan and Resolution
            </div>
            <div class="panel-body">

              <div class="form-horizontal">


                <div class="form-group">
                  <label class="col-sm-2">Action Plan</label>
                  <div class="col-sm-10">
                    <%= @issue.actionplan %>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2">Action Plan Committee</label>
                  <div class="col-sm-10">
                    <%= @issue.actioncommittee %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2">Resolution Date:</label>
                  <div class="col-sm-10">
                    <%= @issue.resolution_date  %>
                  </div>
                </div>




                <div class="form-group">
                  <label class="col-sm-2">Resolution Type:</label>

                  <div class="col-sm-10">
                     <%= @issue.resolutiontype.name if @issue.resolutiontype_id && @issue.resolutiontype_id >= 1 %>
                  </div>
                </div>



                <div class="form-group">
                  <label class="col-sm-2">Resolution Description:</label>
                  <div class="col-sm-10">
                    <%= @issue.resolution  %>
                  </div>
                </div>








              </div>
            </div>


          </div>
            </div>

        </div>





        <div id="viewhistory" class="tab-pane fade in ">



          <div class="panel panel-info">
            <div class="panel-heading">
              Issue History
            </div>
            <div class="panel-body">


              <table class="table table-striped">
                <tr>
                  <th>Action Date</th>
                  <th>Action</th>
                  <th>User</th>

                  <th>Description</th>
                </tr>



                <% if @myactions.any? %>
                    <% @myactions.each do |action| %>

                        <tr>
                          <td><%= action.created_at.strftime("%m/%d/%Y") if action.created_at %></td>
                          <td><%= action.actiontype_humanize if action.actiontype %></td>
                          <td><%= action.user.name if action.user_id %></td>
                          <td>

                            <% if action.actiontype == Actiontype::AGENDA %>
                                <% thismeeting= Meeting.find(action.meeting_id) %>
                                <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  if action.meeting_id %></strong>  <br>
                            <% end %>

                            <% if action.actiontype == Actiontype::ESCALATED or
                                    action.actiontype == Actiontype::MEETING_RESULT_ESCALATED or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_ESCALATED %>
                                <% if action.laststructure_id %>

                                    <% fromstructure= Structure.find(action.laststructure_id)  %>
                                    <strong>Issue Escalated from : <%= link_to fromstructure.name, fromstructure  %></strong>  <br>
                                <% end %>
                            <% end %>

                            <% if action.actiontype == Actiontype::RESOLVED or
                                    action.actiontype == Actiontype::MEETING_RESULT_RESOLVED or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_RESOLVED %>
                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Resolved in Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                                <% elsif action.mediation_id %>
                                    <% thismediation= Mediation.find(action.mediation_id) %>
                                    <strong>Resolved in Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediation_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                                <% else %>
                                    <strong>Issue Resolved!: </strong>  <br>
                                <% end %>

                            <% end %>

                            <% if action.actiontype == Actiontype::CANCELLED or
                                    action.actiontype == Actiontype::MEETING_RESULT_CANCELLED or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_CANCELLED %>

                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Cancelled in Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.real_start.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                                <% elsif action.mediation_id %>
                                    <% thismediation= Mediation.find(action.mediation_id) %>
                                    <strong>Cancelled in Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediation_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                                <% else %>
                                    <strong>Issue Cancelled!: </strong>  <br>
                                <% end %>

                            <% end %>


                            <% if action.actiontype == Actiontype::ONGOING or
                                    action.actiontype == Actiontype::MEETING_RESULT_ONGOING or
                                    action.actiontype == Actiontype::MEDIATION_RESULT_ONGOING %>

                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Unresolved in  Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.meeting_on.strftime("%m/%d/%Y"), thismeeting  %></strong>  <br>
                                <% elsif action.mediation_id %>
                                    <% thismediation= Mediation.find(action.mediation_id) %>
                                    <strong>Unresolved in Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediation_start.strftime("%m/%d/%Y"), thismediation  if action.mediation_id %></strong>  <br>
                                <% else %>

                                <% end %>

                            <% end %>



                            <% if action.actiontype == Actiontype::MEDIATION or
                                    action.actiontype == Actiontype::MEETING_RESULT_MEDIATION %>

                                <% if action.meeting_id %>
                                    <% thismeeting= Meeting.find(action.meeting_id) %>
                                    <strong>Sent to Mediation from Meeting!: </strong>  <br>
                                    <strong>Meeting: <%= link_to thismeeting.meetingid, thismeeting  %></strong>  <br>
                                <% else %>
                                    <strong>Issue Sent to Mediation!: </strong>  <br>
                                <% end %>

                            <% end %>



                            <% if action.actiontype == Actiontype::REOPENED %>
                                <% if action.mediation_id %>
                                    <% thismediation = Mediation.find(action.mediation_id) %>
                                    <strong>Issue Reopened from Mediation!: </strong>  <br>
                                    <strong>Mediation: <%= link_to thismediation.mediationcode, thismediation  %></strong>  <br>
                                    <% else %>
                                <strong>Issue Reopened!: </strong>  <br>
                            <% end %>
                                <% end %>


                            <%# if action.actiontype == Actiontype::COMMENT %>
                            <!-- <strong>Comment: </strong>  <br>-->
                            <%# end %>

                            <% if action.actiontype == Actiontype::CREATED %>
                                <strong>Created</strong>  <br>
                            <% end %>








                            <%= action.actionbody %></td>

                        </tr>



                    <% end %>
                <% end %>








              </table>






            </div>
          </div>







        </div>




        <div id="viewdisputants" class="tab-pane fade in">

          <div class="panel panel-info">
            <div class="panel-heading">
              Issue Disputants

              <%#= link_to 'Add Disputant', '#addDisputant', 'data-toggle' => 'modal', :class => "btn btn-success pull-right" %>
            </div>
            <div class="panel-body">

              <table class="table">
                <thead>
                <th>Name</th>
                <th>Title</th>
                <th>Email</th>
                <th>Organization</th>

                </thead>
                <tbody>
                <% @mydisputants.each do |p| %>
                    <tr>
                      <td>  <%= link_to p.person.fullname, p.person %> </td>
                      <td><%= p.person.title %></td>
                      <td><%= p.person.email %></td>
                      <td><%= p.person.phone %></td>
                      <td><%= p.person.organizatioin.name if p.person.organization_id %></td>


                      <td>
                        <% if @canedit %>
                        <%= link_to deletedisputant_path(:disputant_id => a.id),  data: { confirm: 'Are you sure you want to remove this Disputant?' } do %><em class="fa fa-minus-circle"></em><% end %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>



            <% if @canedit %>
            <hr>
            <small>Link Person to Issue</small><br>
            <%= render 'adddisputant' %>
           <% end %>


            </div>
          </div>
        </div>

        <div id="viewmediations" class="tab-pane fade in">



          <div class="panel panel-info">
            <div class="panel-heading">
                  Mediations

            </div>
            <div class="panel-body">


              <table class="table table-striped">
                <tr>
                  <th>Name/ID</th>
                  <th>Medation Start</th>
                  <th>Medation End</th>
                  <th>Mediators</th>
                </tr>

                <% @mymediations.each do |med| %>

                    <tr>
                      <td><%= link_to 'View', med %></td>
                      <td><%= med.mediate_start.strftime("%m/%d/%Y") if med.mediate_start %></td>
                      <td><%= med.mediate_end.strftime("%m/%d/%Y") if med.mediate_end %></td>
                      <td></td>



                    </tr>



                <% end %>

              </table>






            </div>
          </div>

        </div>


        <div id="viewmeetings" class="tab-pane fade in">



          <div class="panel panel-info">
            <div class="panel-heading">
               Meeting Agendas

            </div>
            <div class="panel-body">







              <form>
                <input type="text">

                <select class="chosen-select">
                  <option value="587">DS GL 587</option>
                  <option value="62">CS NI 62</option>

                  <option value="315">DS BH 315</option>

                  <option value="270">DS KP 270</option>

                  <option value="145">DS FO 145</option>

                  <option value="509">DS GO 509</option>

                  <option value="606">CS LO 606</option>

                  <option value="643">DS BY 643</option>

                  <option value="398">CF GO 398</option>

                  <option value="601">CF FO 601</option>

                  <option value="280">CF GB 280</option>

                  <option value="366">DS BY 366</option>

                  <option value="517">DS KO 517</option>

                  <option value="20">CS NI 20</option>

                  <option value="499">DS GL 499</option>

                  <option value="227">CF GB 227</option>

                  <option value="685">CS LO 685</option>

                  <option value="206">DS SU 206</option>

                  <option value="163">DS FO 163</option>

                  <option value="461">DS GL 461</option>

                  <option value="526">CF BH 526</option>

                  <option value="580">DS BH 580</option>

                  <option value="5">DS GL 5</option>

                  <option value="468">CF ZO 468</option>

                  <option value="474">DS WG 474</option>

                  <option value="653">CF GO 653</option>

                  <option value="683">CS LO 683</option>

                  <option value="231">CF WG 231</option>

                  <option value="599">CF FO 599</option>

                  <option value="70">DS GL 70</option>

                  <option value="693">CF FO 693</option>

                  <option value="679">CF KO 679</option>

                  <option value="199">DS GL 199</option>

                  <option value="690">DS VJ 690</option>

                  <option value="161">CF VJ 161</option>

                  <option value="426">DS KO 426</option>

                  <option value="187">CF GL 187</option>

                  <option value="264">CS LO 264</option>

                  <option value="30">CS NI 30</option>

                  <option value="472">CF GO 472</option>

                  <option value="629">DS BH 629</option>

                  <option value="201">CF BY 201</option>

                  <option value="396">CF GO 396</option>

                  <option value="27">DS GB 27</option>

                  <option value="268">DS KP 268</option>

                  <option value="641">CF GL 641</option>

                  <option value="251">CS LO 251</option>
                </select>

                <input type="text">
              </form>

              <script>

                  var config = {
                      '.chosen-select': {
                          disable_search_threshold: 10,
                          no_results_text: "Oops, nothing found!",
                          width: "150px"
                      }
                  }
                  for (var selector in config) {
                      $(selector).chosen(config[selector]);
                  }


              </script>



















              <%= render 'agendas/agendas_table' %>


            </div>
          </div>

        </div>





















        <div id="viewdocuments" class="tab-pane fade in">

          <div class="panel panel-info">
            <div class="panel-heading">
              Documents

            </div>
            <div class="panel-body">



              <table class="table">

                <% @issuedocs.each do |doc| %>
                    <tr>

                      <td>
                        <%= link_to doc.document_file_name , doc.document.url(:original, false) %>
                      </td>
                      <td>
                        <%= doc.document_updated_at %><br>
                      </td>
                    </tr>

                <% end %>
              </table>


              <br><BR>

              <% if @canedit %>
                  <%= simple_form_for @new_site_document do |form| %>
                      <%= form.hidden_field :documentable_id, :value => @issue.id %>
                      <%= form.hidden_field :documentable_type, :value => 'issue' %>
                      <%= form.input :document, as: :file, :label => false %>
                      <%= form.button :submit, :value => 'Upload Document', :class => "mb-sm btn btn-primary" %>
                  <% end %>
              <% end %>




         </div>
            </div>
          </div>


        <div id="viewolddata" class="tab-pane fade in">

                <%= render 'googledata' %>

          <%= debug @gapps %>
        </div>





      </div>
      </div>
      <div class="col-sm-2">


        <%= link_to 'Add Comment', '#comment_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>


        <% if @canedit %>
            <% if @issue.status == Status::RESOLVED or @issue.status == Status::CANCELLED %>
                <%= link_to 'Reopen Issue', '#reopen_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>
            <% else %>


                <% if @openmediations.count == 0 %>
                    <% if @openagendas.count == 0 %>

                    <%= form_for(@issueaction, multipart: true, remote: false) do |f| %>
                        <%= hidden_field(:issueaction, :issue_id, :value => @issue.id) %>
                        <%= hidden_field(:issueaction, :actiontype, :value => Actiontype::AGENDA) %>
                        <% if @openmeetings.count != 0 %>
                        Add To Meeting Agenda<br>
                        <%= f.select :meeting_id, options_for_select(@openmeetings.collect{|m| [m.meetingid, m.id]}), {:include_blank => true,:class=>'user-id-widget', size: 5} %>


                        <%= f.submit 'Submit', :class => "btn btn-small btn-primary" %>
                        <% else %>
                            No Open Meetings to Add to Agenda
                                <%= link_to "Create Meeting", new_meeting_path(:structure_id => @issue.structure.id), :class => "btn btn-success" %>
                            <% end %>


                    <% end %>
                     <br><Br>


                        <% if @issue.status != Status::MEDIATION %>



                            <%= link_to parentlink, '#escalate_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>
                            <% if @issue.openmediation != 0 %>
                                <button class="btn btn-defaut">Open mediation in progress</button>
                            <% else %>
                                <%= link_to 'Mediation', '#mediation_modal', 'data-toggle' => 'modal', :class => "btn btn-success" %><br><br>
                                <%#= link_to 'Create Mediation', new_mediation_path(:issue_id => @issue.id), :class => "btn btn-success"  %>
                            <% end %>

                        <% end %>
                        <% if @issue.status == Status::ONGOING %>
                            <%#= link_to 'Resolution', new_issueaction_path(:issue_id => @issue.id, :actiontype_id => 1), :class => "btn btn-success" %><br><br>

                            <%#= link_to 'Resolution', resolution_path(:issue_id => @issue.id), :class => "btn btn-success" %><br><br>

                            <%= link_to 'Resolution', '#resolution_modal', 'data-toggle' => 'modal', :class => "btn btn-inverse" %><br><br>
                            <%= link_to 'Cancel Issue', '#cancel_modal', 'data-toggle' => 'modal', :class => "btn btn-danger" %><br><br>
                        <% end %>






      <% end %>
                    <% end %>














            <% end %>
        <% end %>

        <%= link_to 'Download Issue PDF', issue_path(@issue, :format => "pdf"), :class => "btn btn-default" %><br><br>
</div>



</div>
</div>
</div>





<div class="modal fade" id="reopen_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-reopen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Reopen Issue (change to "ongoing" status)</h4>
        <h3 class="modal-title" id="myModalLabel"><%= @issue.name %></h3>
      </div>
      <div class="modal-body">
        <%= render 'reopen', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-cancel">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cancel Issue </h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Alert: After cancellation, only system administrator can "reopen" this Issue.
      </div>
      <div class="modal-body">
        <%= render 'cancellation', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




<div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-comment">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Record general update / comment </h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>

      </div>
      <div class="modal-body">
        <%= render 'addnote', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="mediation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-mediation">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <small>Move this Issue to Mediation</small><br>
        <h4 class="modal-title" id="myModalLabel"><%= @issue.name %></h4>
      </div>
      <div class="modal-body">
        <%= render 'mediation', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="escalate_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-escalate">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="myModalLabel"><%= parentlink %> (Ad-Hoc)</h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Alert: This referral will not be referenced to a Meeting or Mediation result.
      </div>
      <div class="modal-body">
        <%= render 'escalate', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="resolution_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-resolve">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Issue Resolution (Ad-Hoc)</h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Alert: This resolution will not be referenced to any Meeting or Mediation.
      </div>
      <div class="modal-body">
        <%= render 'resolution', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>






<div class="modal fade" id="new_agenda_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-agenda">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Issue to Meeting Agenda</h4>
        <h2 class="modal-title" id="myModalLabel"><%= @issue.name %></h2>
        Note: A meeting selection is required. Only meetings sponsored by the Issue's Structure (CF, DSC, CSC) are available.
      </div>
      <div class="modal-body">
        <%= render 'addagenda', modal: true %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>






<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })

    $('#new_loc_form').on('submit', function() {
        $('#new_location_model').modal('hide');
    })

    $('#new_agenda_form').on('submit', function() {
        $('#new_agenda_model').modal('hide');
    })

    $('#new_report_form').on('submit', function() {
        $('#new_report_model').modal('hide');

    $('#new_comment_form').on('submit', function() {
        $('#new_report_model').modal('hide');
    })


</script>