<p id="notice"><%= notice %></p>


<br>

<table>

<% @meetings.each do |meet| %>
<tr>
  <td><%= meet.meetingname %></td>
  <td><%= meet.originalmeetingdate.strftime("%m/%d/%Y") if meet.originalmeetingdate %></td>
  <td><%= meet.meetingcode %></td>


</tr>

<% end %>
</table>





<%= link_to 'New Appissue', new_appissue_path %>
