<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @appissue.uuid %>
</p>

<p>
  <strong>Yourname:</strong>
  <%= @appissue.yourname %>
</p>

<p>
  <strong>Originalmeet:</strong>
  <%= @appissue.originalmeet %>
</p>

<p>
  <strong>Issueid:</strong>
  <%= @appissue.issueid %>
</p>

<p>
  <strong>Meetingname:</strong>
  <%= @appissue.meetingname %>
</p>

<p>
  <strong>Structurecode:</strong>
  <%= @appissue.structurecode %>
</p>

<p>
  <strong>County:</strong>
  <%= @appissue.county %>
</p>

<p>
  <strong>District:</strong>
  <%= @appissue.district %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appissue.status %>
</p>

<p>
  <strong>Issuedistrict:</strong>
  <%= @appissue.issuedistrict %>
</p>

<p>
  <strong>Community:</strong>
  <%= @appissue.community %>
</p>

<p>
  <strong>Category:</strong>
  <%= @appissue.category %>
</p>

<p>
  <strong>Raisedby:</strong>
  <%= @appissue.raisedby %>
</p>

<p>
  <strong>Disputant:</strong>
  <%= @appissue.disputant %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appissue.duration %>
</p>

<p>
  <strong>Actioncommittee:</strong>
  <%= @appissue.actioncommittee %>
</p>

<p>
  <strong>Actiondescription:</strong>
  <%= @appissue.actiondescription %>
</p>

<p>
  <strong>Actionnote:</strong>
  <%= @appissue.actionnote %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @appissue.resolved %>
</p>

<p>
  <strong>Resolutiondate:</strong>
  <%= @appissue.resolutiondate %>
</p>

<p>
  <strong>Docslink:</strong>
  <%= @appissue.docslink %>
</p>

<p>
  <strong>Updatetype:</strong>
  <%= @appissue.updatetype %>
</p>

<p>
  <strong>Resolutiontype:</strong>
  <%= @appissue.resolutiontype %>
</p>

<p>
  <strong>Updated on:</strong>
  <%= @appissue.updated_on %>
</p>

<p>
  <strong>Updatedesc:</strong>
  <%= @appissue.updatedesc %>
</p>

<p>
  <strong>Mediationdate:</strong>
  <%= @appissue.mediationdate %>
</p>

<p>
  <strong>Mediationoutcome:</strong>
  <%= @appissue.mediationoutcome %>
</p>

<p>
  <strong>Issuedesc:</strong>
  <%= @appissue.issuedesc %>
</p>

<p>
  <strong>Issuename:</strong>
  <%= @appissue.issuename %>
</p>

<p>
  <strong>Issuenote:</strong>
  <%= @appissue.issuenote %>
</p>

<p>
  <strong>Statusnote:</strong>
  <%= @appissue.statusnote %>
</p>

<%= link_to 'Edit', edit_appissue_path(@appissue) %> |
<%= link_to 'Back', appissues_path %>
