<p id="notice"><%= notice %></p>

<h1>Listing Actiontypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Usedby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actiontypes.each do |actiontype| %>
      <tr>
        <td><%= actiontype.name %></td>
        <td><%= actiontype.usedby %></td>
        <td><%= link_to 'Show', actiontype %></td>
        <td><%= link_to 'Edit', edit_actiontype_path(actiontype) %></td>
        <td><%= link_to 'Destroy', actiontype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actiontype', new_actiontype_path %>
