
<div class="content-wrapper widerbox">


  <%= link_to 'Back to Users', users_path %><br>
  <h3>New MLDL User</h3>



  <div class="row">


    <div class="col-sm-6">
      <div class="panel panel-default">

        <div class="panel-body">
          <h3>New User</h3>

          <%= form_for User.new, :url => create_user_path, html: {class: 'form'} do |f| %>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, required: true, class: 'form-control'  %>
              </div>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, required: true,  class: 'form-control'  %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
              <p>Admin will need to send new user their password until mailer is set up.</p>


              <div class="form-group">

                <table class="table">
                  <tr><td> <%= f.radio_button :mldlrole, 1 %>&nbsp;&nbsp;&nbsp;</td><td>Administrator</td><td>can change all STructures,Issues,Meetings,Mediations,Assign Managers</td></tr>
                  <tr><td> <%= f.radio_button :mldlrole, 2 %>&nbsp;&nbsp;&nbsp;</td><td>Structure Manager</td><td>can be assigned to manage one or more MDLD Stuctures (change all STructures,Issues,Meetings,Mediations,Assign Managers</td></tr>
                  <tr><td> <%= f.radio_button :mldlrole, 3 %>&nbsp;&nbsp;&nbsp;</td><td> View only</td><td>can see all content but cannot change or add data</td></tr>
                  <tr><td> <%= f.radio_button :mldlrole, 4 %>&nbsp;&nbsp;&nbsp;</td><td> Limited View </td><td>can only see specific Structure data</td></tr>


                </table>

              </div>
              <%= f.submit "Add User" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

