<style>
  .userwidth {
      width: 30%;
  }

</style>

<div class="content-wrapper widerbox">


  <%= link_to 'Back to Users', users_path %><br>
  <h3>Edit Roles</h3>



  <div class="row">


    <div class="col-sm-10">
      <div class="panel panel-default">

        <div class="panel-body">
          <%= form_for(@user) do |f| %>
          <h3>User</h3>
          <p>Name: <%= f.text_field :name, class: "userwidth" %></p>
          <p>Email: <%= f.text_field :email, class: "userwidth" %></p>
<table class="table">
  <tr><td> <%= f.radio_button :mldlrole, 1 %>&nbsp;&nbsp;&nbsp;</td><td>Administrator</td><td>can change all STructures,Issues,Meetings,Mediations,Assign Managers</td></tr>
  <tr><td> <%= f.radio_button :mldlrole, 2 %>&nbsp;&nbsp;&nbsp;</td><td>Structure Manager</td><td>can be assigned to manage one or more MDLD Stuctures (change all STructures,Issues,Meetings,Mediations,Assign Managers</td></tr>
  <tr><td> <%= f.radio_button :mldlrole, 3 %>&nbsp;&nbsp;&nbsp;</td><td> View only</td><td>can see all content but cannot change or add data</td></tr>
  <tr><td> <%= f.radio_button :mldlrole, 4 %>&nbsp;&nbsp;&nbsp;</td><td> Limited View </td><td>can only see specific Structure data</td></tr>


</table>


      <br><br><br>




      <% if @user.deleted_at.nil? %>
          <%= check_box_tag 'deactivate', 'yes' %>  Deactivate User
          <% else %>
          <strong>User Inactive!</strong>
          <%= check_box_tag 'reactivate', 'yes' %>  Reactivate User
         <% end %>
     <!---
              <div class="col-sm-3 chkpanel">
                <label class="label">Roles</label>
                <div class="row">
                  <%#= hidden_field_tag "user[role_ids][]", nil %>
                  <%# @role_list.all.each do |role| %>
                      <%#= check_box_tag "user[role_ids][]", role.id,
                                        @user.role_ids.include?(role.id), id: dom_id(role) %>
                      <%#= label_tag dom_id(role), role.name %><br>
                  <%# end %>

                </div>
-->

<br><br><br><br><br><br>
                  <div class="actions">
                    <%= f.submit :class => "btn btn-primary" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

