<%= simple_form_for(@infopopup) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code, width: "45" %>
    <%= f.input :title %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
