<p id="notice"><%= notice %></p>

<h1>Listing Infopopups</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infopopups.each do |infopopup| %>
      <tr>
        <td><%= infopopup.code %></td>
        <td><%= infopopup.title %></td>
        <td><%= infopopup.body %></td>
        <td><%= link_to 'Show', infopopup %></td>
        <td><%= link_to 'Edit', edit_infopopup_path(infopopup) %></td>
        <td><%= link_to 'Destroy', infopopup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infopopup', new_infopopup_path %>
