
<% if pieid == 'category' %>

    <% pietitle = 'Issues by Category' %>
    <% piesubtitle = 'To Date' %>
    <% piedata = @catdata %>
<% elsif pieid == 'district' %>
    <% pietitle = 'Issues by District' %>
    <% piesubtitle = 'To Date' %>
    <% piedata = @distdata %>
<% elsif pieid == 'structure' %>
    <% pietitle = 'Issues by Structure' %>
    <% piesubtitle = 'To Date' %>
    <% piedata = @structdata %>

<% end %>



<div id="<%= pieid %>"></div>



<script>
    var pie = new d3pie("<%= pieid %>", {
        "header": {
            "title": {
                "text": "<%= pietitle %>",
                "fontSize": 22,
                "font": "verdana"
            },
            "subtitle": {
                "text": "<%= piesubtitle %>",
                "color": "#999999",
                "fontSize": 14,
                "font": "verdana"
            },
            "titleSubtitlePadding": 12
        },
        "footer": {
            "text": "",
            "color": "#999999",
            "fontSize": 11,
            "font": "open sans",
            "location": "bottom-center"
        },
        "size": {
            "canvasHeight": 400,
            "canvasWidth": 590,
            "pieOuterRadius": "88%"
        },
        "data": {
            "content": [
                <%= raw piedata %>
            ]
        },
        "labels": {
            "outer": {
                "pieDistance": 32
            },
            "inner": {
                "format": "value",
                "fontSize": 14
            },
            "mainLabel": {
                "font": "verdana",
                "fontSize": 14
            },
            "percentage": {
                "color": "#e1e1e1",
                "font": "verdana",
                "decimalPlaces": 0
            },
            "value": {
                "color": "#e1e1e1",
                "font": "verdana",
                "fontSize": 12
            },
            "lines": {
                "enabled": true,
                "color": "#cccccc"
            },
            "truncation": {
                "enabled": true
            }
        },
        "tooltips": {
            "enabled": true,
            "type": "placeholder",
            "string": "{label}: {value}, {percentage}%"
        },
        "effects": {
            "pullOutSegmentOnClick": {
                "effect": "linear",
                "speed": 400,
                "size": 8
            }
        }
    });
</script>
