

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">Summary to Date</div>
  </div>
  <div class="panel-body">
    <div class="col-lg-12">
      <!-- START widget-->
      <div class="panel widget">
        <div class="row row-table row-flush">

          <div class="col-xs-4 bb br">
            <div class="row row-table row-flush">
              <div class="col-xs-4 text-center text-info">
                <em class="fa fa-wrench fa-2x"></em>
              </div>
              <div class="col-xs-8">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%= @summaryissues %></h4>
                  <p class="mb0 text-muted">Total Issues</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 bb">
            <div class="row row-table row-flush">
              <div class="col-xs-4 text-center text-danger">
                <em class="fa fa-users fa-2x"></em>
              </div>
              <div class="col-xs-8">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%= @summarymeetings %></h4>
                  <p class="mb0 text-muted">Meetings</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 br">
            <div class="row row-table row-flush">
              <div class="col-xs-4 text-center text-inverse">
                <em class="fa fa-gavel fa-2x"></em>
              </div>
              <div class="col-xs-8">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%= @summaryresolved %></h4>
                  <p class="mb0 text-muted">Issues Resolved</p>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row row-table row-flush">
          <div class="col-xs-4">
            <div class="row row-table row-flush">
              <div class="col-xs-4 text-center text-success">
                <em class="fa fa-cogs fa-2x"></em>
              </div>
              <div class="col-xs-8">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%= @summarymediations %></h4>
                  <p class="mb0 text-muted">Medations</p>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xs-4 br">
            <div class="row row-table row-flush">
              <div class="col-xs-4 text-center text-inverse">
                <em class="fa fa-pencil-square-o fa-2x"></em>
              </div>
              <div class="col-xs-8">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%= @summaryopenmediations %></h4>
                  <p class="mb0 text-muted">Open Mediations</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row row-table row-flush">
              <div class="col-xs-4 text-center text-success">
                <em class="fa fa-inbox fa-2x"></em>
              </div>
              <div class="col-xs-8">
                <div class="panel-body text-center">
                  <h4 class="mt0"><%= @summaryopenissues %></h4>
                  <p class="mb0 text-muted">Open Issues</p>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>
 </div>
    </div></div>