<%= simple_form_for(@agenda) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :meeting_id %>
    <%= f.input :issue_id %>
    <%= f.input :result_id %>
    <%= f.input :agenda_note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
