Meeting Agenda Result Reporting

<h3>Meeting: <%= @agenda.meeting.meetingid %></h3>
<h3>Issue: <%= @agenda.issue.issuecode %> <%= @agenda.issue.name %></h3>


<%= render 'form' %>

<%= link_to 'Show', @agenda %> |
<%= link_to 'Back', agendas_path %>
