<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @agenda.meeting_id %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @agenda.issue_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @agenda.result %>
</p>

<p>
  <strong>Result:</strong>
  <%= @agenda.addressed %>
</p>




<p>
  <strong>Agenda note:</strong>
  <%= @agenda.agenda_note %>
</p>

<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
<td><%= link_to 'Destroy', @agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>


