<%= form_for(@mediator) do |f| %>
  <% if @mediator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mediator.errors.count, "error") %> prohibited this mediator from being saved:</h2>

      <ul>
      <% @mediator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :mediation_id %><br>
    <%= f.number_field :mediation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
