<p id="notice"><%= notice %></p>

<h1>Listing Mediators</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Mediation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mediators.each do |mediator| %>
      <tr>
        <td><%= mediator.person_id %></td>
        <td><%= mediator.mediation_id %></td>
        <td><%= link_to 'Show', mediator %></td>
        <td><%= link_to 'Edit', edit_mediator_path(mediator) %></td>
        <td><%= link_to 'Destroy', mediator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mediator', new_mediator_path %>
