<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MLDL2 Case Management" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">

    <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quintessential' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <%= csrf_meta_tags %>

  </head>






  <body class="layout-h" style="background-color: #ffffff;">










      <header class="topnavbar-wrapper">
      <%= render 'layouts/mldl_navbar' %>
    </header>
       <%= render 'layouts/messages' %>


      <div class="container">
       <%= yield %>

      </div>





      <%= render 'layouts/mldl_footer' %>



  </body>

</html>
