<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MLDL2 Case Management" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">

    <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quintessential' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <%= csrf_meta_tags %>

  </head>






  <!--<body class="layout-h"   style="background-color: #ffffff;">-->





  <body <% if content_for?(:body_attributes) %>
        <%= yield(:body_attributes) %>
        <% end %>>












  <% if user_signed_in? %>
            <header class="topnavbar-wrapper">
                <%= render 'layouts/mldl_navbar' %>
            </header>
        <% end %>
        <%= render 'layouts/messages' %>


        <div class="container">
        <%= yield %>
        </div>




<!---
        <form id="new_issueaction222" class="new_issueaction" data-parsley-validate="" data-novalidate="" action="/issueactions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="A1imU1yvlagIRS1A2T7XNXqF4ZWvZqWMnPOEIkO8za69pRTTqo3rTF4KRXWq6ocO0UMm7AOePxvB3ZXCJoTN2A==" />
          <div class="form-horizontal">
--->




      <%= render 'layouts/mldl_footer' %>



  </body>

</html>

<div class="modal fade" id="helppop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-reopen">
    <div class="modal-content">
      <div class="modal-header">
        Help
      </div>
      <div class="modal-body">
        Mail to : operations@mldl-liberia.com
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

